<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSSeguridadMejoravitAppSoap" sendTimeout="00:00:00">
                    <security mode="Transport"/>
                </binding>
                <binding name="WSSeguridadMejoravitAppSoap1"/>
                <binding name="WSConsultaEstatusMejoravitAppSoap" sendTimeout="00:00:00">
                    <security mode="Transport"/>
                </binding>
                <binding name="WSConsultaEstatusMejoravitAppSoap1" sendTimeout="00:00:00"/>
                <binding name="WSRegistraSolicitudCreditoMejoravitAppSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="WSRegistraSolicitudCreditoMejoravitAppSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/QA11/WSSeguridadMejoravitApp.asmx" binding="basicHttpBinding" bindingConfiguration="WSSeguridadMejoravitAppSoap" contract="SeguridadMejoravitApp.WSSeguridadMejoravitAppSoap" name="WSSeguridadMejoravitAppSoap"/>
            <endpoint address="http://FRM_Personal:8080/" binding="basicHttpBinding" bindingConfiguration="WSConsultaEstatusMejoravitAppSoap" contract="ConsultaEstatusMejoravitApp11.WSConsultaEstatusMejoravitAppSoap" name="WSConsultaEstatusMejoravitAppSoap"/>
            <endpoint address="https://127.0.0.1:143/UltMejoravit/webservices/WSRegistraSolicitudCreditoMejoravitApp11.asmx" binding="basicHttpBinding" bindingConfiguration="WSRegistraSolicitudCreditoMejoravitAppSoap" contract="WSRegistraSolicitudCreditoMejoravitApp11.WSRegistraSolicitudCreditoMejoravitAppSoap" name="WSRegistraSolicitudCreditoMejoravitAppSoap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
