.CWDefault {
    font: 14px 'Open Sans', sans-serif;
    color: #4A3A41;
    margin-top: 5px;
    margin-bottom: 5px;
}

.CWDivTexto {
    display: inline-block;
}

.CWTitulo {
    font: 24px 'Open Sans', sans-serif;
    font-weight: 700;
    color: #4A3A41;
}

.CWSubTitulo {
    font: 18px 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4A3A41;
}

.CWSubTituloNegrita {
    font: 18px 'Open Sans', sans-serif;
    font-weight: 600;
    color: #4A3A41;
    margin-top: 20px;
}

.CWCentrado {
    text-align: center;
}

.CWDerecha {
    text-align: right;
}

.CWIzquierda {
    text-align: left;
}

.CWAncho200 {
    width: 200px;
}

.CWAncho300 {
    width: 300px;
}

.CWAncho400 {
    width: 400px;
}

.CWAncho500 {
    width: 500px;
}

.CWMargenDerecho10 {
    margin-right: 10px;
}

.CWMargenDerecho20 {
    margin-right: 20px;
}

.CWMargenDerecho30 {
    margin-right: 30px;
}

.CWMargenIzquierdo10 {
    margin-left: 10px;
}

.CWMargenIzquierdo20 {
    margin-left: 20px;
}

.CWMargenIzquierdo30 {
    margin-left: 30px;
}

.CWHeight30 {
   height: 30px; 
}

.CWValidacion {
    background-color: #eebbbb;
    border-style: solid;
    border-color: #ee8888;
    border-width: 2px;
}
 #ASPxPopupHintClientControl_PW-1 > div {
            line-height: 17px !important;
            margin: 0.5em 0 0 !important;
            color: #FFFFFF !important;
            content: "" !important;
            background-color: #396392 !important;
            background: #c00d3f !important;
            background: -webkit-linear-gradient(#c00d3f, #7b0a2a) !important;
            background: -moz-linear-gradient(#c00d3f, #7b0a2a) !important;
            background: -o-linear-gradient(#c00d3f, #7b0a2a) !important;
            background: -ms-linear-gradient(#c00d3f, #7b0a2a) !important;
            background: linear-gradient(#c00d3f, #7b0a2a) !important;
            -moz-box-shadow: 3px 3px 4px rgba(0,0,0, .65) !important;
            -webkit-box-shadow: 3px 3px 4px rgba(0,0,0, .65) !important;
            box-shadow: 3px 3px 4px rgba(0,0,0, .65) !important;
        }
 #ASPxPopupHintClientControl_PW-1 .dxpc-content {
     color: #FFFFFF;
 }