
body {
    text-align: center;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    background-color: #EDEDED;
}


.TituloSeleccion {
    font: 24px 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: left;
    color: #4A3A41;
}

.TituloSeleccion_Peq {
    font: 14px 'Open Sans', sans-serif;
    color: #4A3A41;
}


.Combos {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid gray;
    font: 12px 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #FFFFFF;
    color: #666666;
    text-align: center;
}

.AlinearIzquierda {
    text-align: left;
}

.Botones {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background: #DB002E;
    border: 1px #BA002B;
}

    .Botones:hover {
        color: #D9D9D9;
        background: #5C5C5C;
        border: 1px #3B3B3B;
    }

.BotonesDesactivados {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #D9D9D9;
    background: #5C5C5C;
    border: 1px #3B3B3B;
}

.BotonCerrar {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font: 14px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #51002E;
    background: #DB002E;
    border: 1px solid #72002E;
    padding: 5px;
    position: relative;
    top: -17px;
}

.BotonesLink {
    font: 14px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666666;
}

.TextoBusqueda {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    font: 13px 'Open Sans', sans-serif;
    padding-left: 4px;
    padding-right: 0px;
    margin-right: 0px;
    border: 1px solid gray;
}

.GridTitulo {
    font: 16px 'Open Sans', sans-serif;
    border: 0px;
    font-weight: 300;
}

    .GridTitulo th {
        font: 16px 'Open Sans', sans-serif;
        border: 0px;
        font-weight: 300;
    }

.GridCelda {
    font: 12px 'Open Sans', sans-serif;
    background: #FFFFFF;
    text-align: left;
}

.GridCeldaAlt {
    font: 12px 'Open Sans', sans-serif;
    background: #F2F2F2;
    text-align: left;
}

.OpenSans14 {
    font: 14px 'Open Sans', sans-serif;
}

.NombreUsuario {
    font: 14px 'Open Sans', sans-serif;
    color: #FFFFFF;
    text-align: left;
    margin-left: 10px;
    position: relative;
    top: -10px;
}

.NombreDespacho {
    font: 15px 'Open Sans', sans-serif;
    color: #FFFFFF;
    position: absolute;
    display: table;
    top: 20px;
    left: 0px;
    text-align: center;
}

.ImagenBuscar {
    position: relative;
    left: -7px;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}


.ImagenDown {
    padding: 0 0 0 14px;
    border-style: none;
    position: relative;
    top: -3px;
}

.TextoFooter {
    font: 12px 'Open Sans', sans-serif;
    color: #ffffff;
    font-weight: 300;
    display: inline-block;
    position: relative;
    top: -20px;
    margin-left: 15px;
}

.Grafico {
    font: 18px 'Open Sans', sans-serif;
    color: #4C4C4C;
    font-weight: 300;
}

.InicioSesion {
    font: 14px 'Open Sans', sans-serif;
    font-weight: 700;
    color: black;
}

.RecordarDatos {
    font: 14px 'Open Sans', sans-serif;
    font-weight: 300;
    color: black;
}

.Contraseña {
    font: 14px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #0F8ACB;
    text-decoration: none;
}

.PaddingDerecho5 {
    padding-right: 5px;
}

.Padding5 {
    padding: 5px;
}

.AlinearDerecha {
    text-align: right;
}

.TableCell {
    display: table-cell;
}

.Arriba5 {
    top: 5px;
    position: relative;
}

.ArribaMenos5 {
    top: -5px;
    position: relative;
}

.MensajeAlerta {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-weight: 300;
    color: #3E4D03;
    background: #ACD90B;
    border: 1px #86A608;
    padding: 5px;
    /*margin-bottom: 10px;*/
    font-style: normal;
    font-variant: normal;
    font-size: 14px;
    line-height: normal;
    font-family: "Open Sans", sans-serif;
    height: 39px;
    /*width: 383px;*/
    margin-left: -15px;
    width: 100%;
}

.TextoFormulario {
    font: 14px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #666666;
    text-align: left;
}

.Arriba30 {
    top: 30px;
    position: relative;
}

.Oculto {
    visibility: hidden;
    height: 0px;
    width: 0px;
}

.popContent {
    background-color: Yellow;
}

.popCalloutBack {
    position: absolute;
    border-style: solid;
    width: 0px;
    margin-top: 10px;
    margin-left: 0px;
    border-width: 15px 15px 0px 5px;
    border-color: transparent;
    border-top-color: #8B8B8B;
}

.popCallout {
    position: absolute;
    border-style: solid;
    width: 0px;
    margin-top: -17px;
    margin-left: -5px;
    border-width: 15px 15px 0px 5px;
    border-color: transparent;
    border-top-color: Yellow;
}

/* Israel Salinas Contreras  - 20140429*/
.gridDashBoardSinLineas_Izquierda {
    border-collapse: collapse;
    border-spacing: 2px;
    border: none;
    border-right: 1pt solid gray;
}
    /* sin bordes exteriores */
    .gridDashBoardSinLineas_Izquierda tr {
        padding: 5px;
    }

    .gridDashBoardSinLineas_Izquierda td {
        border-right: solid 1px gray !important;
        padding: 5px;
    }

    .gridDashBoardSinLineas_Izquierda tr.first {
        border-top: none;
    }

    .gridDashBoardSinLineas_Izquierda tr.last {
        border-bottom: none;
    }


.gridDashBoardSinLineas_Derecha {
    border-collapse: collapse;
    border-spacing: 2px;
    border: none;
    border-left: 1pt solid gray;
}
    /* sin bordes exteriores */
    .gridDashBoardSinLineas_Derecha tr {
        padding: 5px;
    }

    .gridDashBoardSinLineas_Derecha td {
        border-left: solid 1px gray !important;
        padding: 5px;
    }

    .gridDashBoardSinLineas_Derecha tr.first {
        border-top: none;
    }

    .gridDashBoardSinLineas_Derecha tr.last {
        border-bottom: none;
    }

.Version {
    font: 5px 'Open Sans', sans-serif;
    font-weight: 300;
    color: #3B3B3B;
    text-decoration: none;
}

.MapaSupervisionPopup {
    font: 10px 'Open Sans', sans-serif;
    color: #4A3A41;
}
