<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SchoolSystemEntities" connectionString="metadata=res://*/SchoolDBModel.csdl|res://*/SchoolDBModel.ssdl|res://*/SchoolDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STARKILLER;initial catalog=SchoolSystem;persist security info=True;user id=sa;password=A@141516182235;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SchoolSystemEntities1" connectionString="metadata=res://*/SchoolDBModel.csdl|res://*/SchoolDBModel.ssdl|res://*/SchoolDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STARKILLER;initial catalog=SchoolSystem;persist security info=True;user id=sa;password=A@141516182235;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="School.AccesoDatos.Properties.Settings.SchoolSystemConnectionString"
      connectionString="Data Source=STARKILLER;Initial Catalog=SchoolSystem;Persist Security Info=True;User ID=sa;Password=A@141516182235"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>