@using (Html.BeginForm("Upload", "LlamadasNoExitosas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="cargaArchivos">
        <input type="file" name="FileUpload" accept="text/plain" />
        <input type="button" name="Submit" id="Submit" value="Carga" onclick="comprueba_extension(this.form, this.form.FileUpload.value)" />
    </div>
}