@using PubliPayments.Entidades
@using PubliPayments.Models
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Carga archivo llamadas sin éxito </title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    
    <style type="text/css">
        .ui-state-default .ui-tabs-anchor {
            font: 14px 'Open Sans', sans-serif !important;
            color: #ffffff !important;
            background: #4A3A41 !important;
        }

        .ui-state-default .ui-tabs-anchor:hover {
            color: gray !important;
        }

        .ui-state-default {
            border: none !important;
        }

        .ui-state-active .ui-tabs-anchor {
            color: #000000 !important;
            background: #EDEDED !important;
        }

        .ui-state-active .ui-tabs-anchor:hover {
            color: #000000 !important;
            background: #EDEDED !important;
        }

        .ui-tabs-active {
            background: #EDEDED !important;
        }

        .ui-tabs-nav {
            background: #4A3A41 !important;
        }

        .ui-tabs {
            background: #EDEDED !important;
            border: none;
        }


        .ui-widget-content {
            border-top-style: none !important;
            border-bottom-style: none !important;
            border-left-style: none !important;
            border-right-style: none !important;
        }

        .tabContent td {
            vertical-align: top;
            padding: 8px;
        }

        .tabTemplate,
        .tabTemplate .label {
            border-collapse: collapse;
            font: 12px Tahoma;
            color: #333333;
        }

        .tabTemplate img {
            margin: 0;
            display: block;
        }

        .tabTemplate td {
            padding: 0;
        }

        .pcTemplates .dxtc-leftIndent,
        .pcTemplates .dxtc-tab,
        .pcTemplates .dxtc-activeTab,
        .pcTemplates .dxtc-rightIndent {
            border-width: 0 !important;
            background-color: white !important;
        }

        .pcTemplates .dxtc-leftIndent,
        .pcTemplates .dxtc-tab,
        .pcTemplates .dxtc-rightIndent {
            border-bottom-width: 1px !important;
        }

        .myCenteredGrid {
            margin: 0 auto;
            width:70%
        }
    </style>
    <script>
        function OnGetId(value) {
            window.open("/ArchivoError/Descargar?arg=" + value, "_self");
        }

        function Actualizar() {
            location.reload();
        }
    </script>
    
    <script>
        $(function() {
            
            if (document.getElementById("alerta") != null) {
                var error = document.getElementById("alerta").innerText;
                alert(error);
            }
        });

        function comprueba_extension(formulario, archivo) {
            if (!archivo) {
                alert("No has seleccionado ningún archivo");
                return (false);
            } else {
                formulario.submit();
                return (true);
            }
        }
    </script>

</head>
<body>
    <div class="TituloSeleccion" id="Principal" style="margin-left: 30px; position: relative; top: 0; left: 0;" runat="server">
        Archivos Llamadas no Exitosas
        <img alt="|" src="/imagenes/separador.png" style="margin-left: 30px; margin-right: 30px; position: relative; top: 10px;">
        <input id="btActualiza" type="button" value="Actualizar" class="Botones" style="width: 150px;height: 30px" onclick="return Actualizar()" />
    </div>
    <div style="margin-left: 10px; margin-top: 30px; height: 70%">
        <table style="width: 100%; height: 60%; align-content:center; align-items:center">
            <tr>
                <td>
                    @if (!(HttpContext.Current.User.IsInRole("0") || HttpContext.Current.User.IsInRole("1")))
                    {
                        <div id="txtContainer" style="padding-left: 15px">
                            @Html.Action("CargaDocumento", "LlamadasNoExitosas")
                        </div>
                    }
                </td>
            </tr>
            <tr><td><br /><br /></td></tr>
            <tr>
                <td>
                    <div id="containerRar" style="padding-left: 15px">
                        @Html.Action("NextPage", "LlamadasNoExitosas", new { tipo = "txt" })
                    </div>
                    @if (TempData["notice"] != null)
                    {
                        <div id="alerta" hidden>
                            @TempData["notice"]
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
</body>
