<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Connetion" connectionString="Data Source=STARKILLER1\MSSQLSERVER2012;Initial Catalog=CRUD(Stored Procedure);Persist Security Info=True;User ID=sa;Password=A@141516182235"/>
  </connectionStrings>
</configuration>