<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IS_Prueba" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5099/S_Prueba.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IS_Prueba" contract="SVR_Prueba.IS_Prueba"
          name="BasicHttpBinding_IS_Prueba" />

      <endpoint address="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc"
        binding="basicHttpBinding" 
        contract="SRV_GestionCatalogos.IS_GestionCatalogos" name="BasicHttpBinding_IS_GestionCatalogos" />

      <endpoint address="http://localhost:5099/Login_S/S_Login.svc" binding="basicHttpBinding"   
        contract="SVR_Login.IS_Login" name="BasicHttpBinding_IS_Login" />
    </client>
    
    
  </system.serviceModel>
</configuration>