@{
    ViewBag.Title = "Kiosco";
}

<h2>Kiosco</h2>

<table>
    <tr>
        <th>Dom</th>
        <th>Lun</th>
        <th>Mar</th>
        <th>Mie</th>
        <th>Jue</th>
        <th>Vie</th>
        <th>Sab</th>
    </tr>
</table>