<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBackEnd" maxBufferSize="9999999" maxReceivedMessageSize="9999999" />
        <binding name="BasicHttpBinding_IBackEnd1" maxBufferSize="9999999" maxReceivedMessageSize="9999999">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cloudnubiik.cloudapp.net:8081/BackEnd.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd"
          contract="BackEndFormiik.IBackEnd" name="BasicHttpBinding_IBackEnd" />
      <endpoint address="https://cloudnubiik.cloudapp.net:8084/BackEnd.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd1"
          contract="BackEndFormiik.IBackEnd" name="BasicHttpBinding_IBackEnd1" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <!--Produccion-->
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranza;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />
    <!--Desarrollo-->
    <!--<add name="SqlDefault" connectionString="Data Source=192.168.75.220;Initial Catalog=SistemasCobranzaTest;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>