@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-group">
    
    <h4 class="list-group-item-heading">Lista ViewBag</h4> 
    <br/>
    @foreach (var item in ViewBag.Lista)
    {
        <p class="list-group-item-text">
            @item
        </p>
    }
    <br/>

    <h4 class="list-group-item-heading">Lista ViewData</h4>
    @foreach (var item in (List<string>)ViewData["ListaVD"])
    {
        <p class="list-group-item-text">
            @item
        </p>
    }
    
    <br/>
    
    <h4 class="list-group-item-text">Lista de String</h4>
    @foreach (var item in (List<string>) ViewData["ListaString"])
    {
        <p class=" list-group-item-text">
            @item
        </p>
    }
    
    <br/>
    <br/>
    
    @Html.ActionLink("Regresar", "ListaDepartamentos","Principal")
</div>
