@model List<PruebaMVC5.Models.Departamento>
@{
    ViewBag.Title = "Departamentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departamentos</h2>

<div>
    <h3>Departamento</h3>
    <div class="list-group">
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.NombreDepartamento, "ListaEmpleados", new { idDepartamento = item.IdDepartamento }, new { @class = "list-group-item" })
        }
    </div>
    
    <div>
        <button type="button" class="btn btn-default navbar-btn" onclick="location.href='@Url.Action("ListaPaises", "Principal")'">Lista de paises</button>
    </div>
</div>
