<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Restaurant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Restaurant.ErrorMessages" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Restaurant.Properties.Settings>
            <setting name="ConnectionStr" serializeAs="String">
                <value>Data Source=ali-notebook\MSSQL2005;Initial Catalog=Restaurant;User ID=sa;Password=sapass;Connection Timeout=20</value>
            </setting>
            <setting name="RefreshInterval" serializeAs="String">
                <value>15000</value>
            </setting>
        </Restaurant.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Restaurant.ErrorMessages>
            <setting name="NoConnection" serializeAs="String">
                <value>Connection Failed.</value>
            </setting>
            <setting name="UnhandledException" serializeAs="String">
                <value>Error.</value>
            </setting>
            <setting name="RepeatedRecord" serializeAs="String">
                <value>This {0} already exists. Please, try another one.</value>
            </setting>
            <setting name="EditedSuccessfully" serializeAs="String">
                <value>Edited successfully.</value>
            </setting>
            <setting name="PermissionNotChoosed" serializeAs="String">
                <value>Permission is not selected.</value>
            </setting>
            <setting name="UserNameEmpty" serializeAs="String">
                <value>User Name is mandatory.</value>
            </setting>
            <setting name="UserFullNameEmpty" serializeAs="String">
                <value>Full Name is mandatory.</value>
            </setting>
            <setting name="RecordCreatedSuccessfully" serializeAs="String">
                <value>{0} created successfully.</value>
            </setting>
            <setting name="ConflictPassword" serializeAs="String">
                <value>Password and confirm password are not the same.</value>
            </setting>
            <setting name="PasswordEmpty" serializeAs="String">
                <value>Password can not be less than three character length.</value>
            </setting>
            <setting name="NoRowSelected" serializeAs="String">
                <value>No row is selected.</value>
            </setting>
            <setting name="ConfirmDelete" serializeAs="String">
                <value>Are you sure you want to delete the record?</value>
            </setting>
            <setting name="ConfirmResetPassword" serializeAs="String">
                <value>Are you sure you want to reset the password to 123?</value>
            </setting>
            <setting name="ResetPassSucceed" serializeAs="String">
                <value>Password reset successfully.</value>
            </setting>
            <setting name="UserNotValid" serializeAs="String">
                <value>User name or password is not valid.</value>
            </setting>
            <setting name="WaiterIsNotPermited" serializeAs="String">
                <value>Waiter can not login to this application.</value>
            </setting>
            <setting name="ItemCanNotBeDeleted" serializeAs="String">
                <value>This {0} can not be deleted because it is used.</value>
            </setting>
            <setting name="TableNoEmpty" serializeAs="String">
                <value>TableNo is mandatory.</value>
            </setting>
            <setting name="TableCapacityEmpty" serializeAs="String">
                <value>Capacity is mandatory.</value>
            </setting>
            <setting name="UnitNameEmpty" serializeAs="String">
                <value>Unit is mandatory.</value>
            </setting>
            <setting name="FieldEmpty" serializeAs="String">
                <value>{0} is mandatory.</value>
            </setting>
            <setting name="OrderCreatedSuccessfully" serializeAs="String">
                <value>This order successfully saved with the OrderNo: {0}</value>
            </setting>
            <setting name="NoOrderDetail" serializeAs="String">
                <value>Order is empty.</value>
            </setting>
            <setting name="SomeOrderItemsNotAvailable" serializeAs="String">
                <value>Some order items are not available anymore.\n Please try again.</value>
            </setting>
            <setting name="OrderIsLock" serializeAs="String">
                <value>Order No : {0} is locked by another user. Please try again later.</value>
            </setting>
            <setting name="OrderIsReady" serializeAs="String">
                <value>Order No : {0} is now in Ready To Serve state.</value>
            </setting>
            <setting name="ConnectionTestFailed" serializeAs="String">
                <value>Connection test failed!</value>
            </setting>
            <setting name="ConnectionTestSucceed" serializeAs="String">
                <value>Connection test Succeed!</value>
            </setting>
            <setting name="CurrentPasswordNotCorrect" serializeAs="String">
                <value>Current Password is not correct.</value>
            </setting>
            <setting name="ConfirmChangePassword" serializeAs="String">
                <value>Are you sure you want to change the password?</value>
            </setting>
            <setting name="ActionSucceed" serializeAs="String">
                <value>{0} Succeed!</value>
            </setting>
            <setting name="OrderIsNotAvailable" serializeAs="String">
                <value>Order No : {0} is not available anymore.</value>
            </setting>
            <setting name="OrderItemIsNotEditable" serializeAs="String">
                <value>This item can not be {0} because it is uneditable.</value>
            </setting>
            <setting name="ProductIsNotAvailable" serializeAs="String">
                <value>{0} is not available anymore.</value>
            </setting>
            <setting name="OrderEditedSuccessfully" serializeAs="String">
                <value>OrderNo: {0} Edited successfully.</value>
            </setting>
            <setting name="OrderNoIsNotCompleteToCheckOut" serializeAs="String">
                <value>Order {0} is not complete to Check Out.</value>
            </setting>
            <setting name="OrderNotServedYet" serializeAs="String">
                <value>Order {0} is not served yet. Do you want to continue the process of Check out?</value>
            </setting>
            <setting name="CustomerNameNotEntered" serializeAs="String">
                <value>Customer name is empty. Do you want to continue the process of Check out?</value>
            </setting>
            <setting name="OrderCheckOutSucceed" serializeAs="String">
                <value>Checked out succeed for OrderNo: {0}</value>
            </setting>
            <setting name="OrderCheckOutFailed" serializeAs="String">
                <value>Checked out Failed for OrderNo: {0}</value>
            </setting>
            <setting name="OrderStateChanged" serializeAs="String">
                <value>Order state {0} has changed. Please try again.</value>
            </setting>
            <setting name="OrderCancelSucceed" serializeAs="String">
                <value>OrderNo: {0} successfully Canceled.</value>
            </setting>
            <setting name="OrderCancelFailed" serializeAs="String">
                <value>Cancel order failed for OrderNo: {0}</value>
            </setting>
        </Restaurant.ErrorMessages>
    </applicationSettings>
</configuration>