body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.body-content {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

div.CenterDiv {
    /*margin-left: auto;
    margin-right: auto;
    width: 70%;*/
    display: table;
    margin: 0 auto;
}