body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.body-content {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

div.CenterDiv {
    /*margin-left: auto;
    margin-right: auto;
    width: 70%;*/
    display: table;
    margin: 0 auto;
}

.navbar {
    height: 10px;
}

.menu {
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: inline;
}

    .menu ul li a:link, div ul li a:visited {
        display: block;
        background-color: #f1f1f1;
        color: #000;
        text-align: center;
        text-decoration: none;
        padding: 4px;
        border-bottom: 1px solid #fff;
        width: 150px;
    }

    .menu ul li a:hover {
        background-color: #ccc;
    }

    .menu ul li ul li a:link, li ul li a:visited {
        display: block;
        background-color: #f1f1f1;
        color: #000;
        text-align: center;
        text-decoration: none;
        padding: 4px;
        border-bottom: 1px solid #fff;
        width: 150px;
    }

    .menu ul li ul li a:hover {
        background-color: #ccc;
    }

    .menu ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }

        .menu ul li {
            float: left;
            margin-left: 5px;
        }

            .menu ul li ul li {
                float: none;
                margin-left: 0px;
            }

            .menu ul li ul {
                display: none;
            }

    .menu li:hover ul {
        display: block;
        margin: 2px;
    }