body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 1px;
    padding-right: 1px;
}
.container {
    background: grey;
}

input,
select,
textarea {
    max-width: 400px;
}