<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarios" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19616/Usuarios/Usuarios.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarios"
                contract="SvcUsuarios.IUsuarios" name="BasicHttpBinding_IUsuarios" />
        </client>
    </system.serviceModel>
</configuration>