@using Universidad.Entidades

@if (ViewData["listaArbol"] != null)
{

    foreach (var item in ((List<SIS_WADM_ARBOLMENU>) ViewData["listaArbol"]))
    {
        @item.NOMBRE
    }
}
else
{
    <h1>no carga</h1>
}