@using System.Collections.Generic
@using Universidad.Entidades.ControlUsuario

@if (ViewBag.listaArbol != null)
{
    var menuList = ViewBag.listaArbol as List<MenuSisWadmE>;
    
        Html.RenderPartial("MenuParcial", menuList);
}
else
{
    <h1>no carga</h1>
}