@using Universidad.Entidades

@if (ViewData["listaArbol"] != null)
{

    foreach (var item in ((List<SIS_WADM_ARBOLMENU_MVC>) ViewData["listaArbol"]))
    {
        if (item.IDMENUPADRE == null)
        {
        }
    }
}
else
{
    <h1>no carga</h1>
}