@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Javier Barros Sierra 555,<br />
    Zedec Santa Fe,<br />
    Álvaro Obregón,<br />
    01219 Cd de México, D.F.
    <abbr title="Teléfono">T:</abbr>
    (+52 55) 4433 0303
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:soporte@ppmobile.com">soporte@ppmobile.com</a><br />
</address>