<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="FraganciasTSql" connectionString="Data Source=DR5Q402\MSSQLSERVER2014;Initial Catalog=Fragancias;Persist Security Info=True;User ID=sa;Password=***********"></add>
    <add name="FraganciasEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DR5Q402\MSSQLSERVER2014;initial catalog=Fragancias;persist security info=True;user id=sa;password=A@141516182235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

<!--Data Source=DR5Q402\MSSQLSERVER2014;Initial Catalog=Fragancias;Persist Security Info=True;User ID=sa;Password=***********-->