body {
    background-color:#dcdcdc;
}

.labels
{
    background-color:#3b444b;
    color:ActiveBorder;
    font-size:smaller;
    font-family:Verdana, Geneva, 'DejaVu Sans', sans-serif;    
}
