<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <!--Conecciones para Sitio Produccion-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasCobranza;persist security info=True;user id=DevUser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranza;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />
    <add name="Creditos220ConnectionString" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranza;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />-->
    <!--Conecciones para SitioTest-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.220;initial catalog=SistemasCobranzaTest;persist security info=True;user id=DevUser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.75.220;Initial Catalog=SistemasCobranzaTest;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />
    <add name="Creditos220ConnectionString" connectionString="Data Source=192.168.75.220;Initial Catalog=SistemasCobranzaTest;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />-->
    <!--Conecciones para SitioDesarrollo-->
    <add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.75.220;initial catalog=SistemasCobranzaDesarrollo;persist security info=True;user id=DevUser;password=Z341nao27L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.75.220;Initial Catalog=SistemasCobranzaDesarrollo;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />
    <add name="Creditos220ConnectionString" connectionString="Data Source=192.168.75.220;Initial Catalog=SistemasCobranzaDesarrollo;Persist Security Info=True;User ID=devuser;Password=Z341nao27L" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpEndpoint" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Servicio">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="wsServiciosExternos.ServicioIA"  behaviorConfiguration="Servicio">
        <endpoint binding="basicHttpBinding" contract="wsServiciosExternos.IServicio" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      <service name="wsServiciosExternos.ServicioDW" behaviorConfiguration="Servicio">
        <endpoint binding="basicHttpBinding" contract="wsServiciosExternos.IServicio" />
    
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
