@model List<Universidad.Entidades.ControlUsuario.MenuSisWadmE>

@if (Model != null)
{
    foreach (var menuitem in Model)
    {
        <ul>
            <li>
                @if (!string.IsNullOrEmpty(menuitem.Controller) || !string.IsNullOrEmpty(menuitem.Method))
                {
                    @Html.ActionLink(@menuitem.Nombre, menuitem.Method, menuitem.Controller)
                }
                else
                {
                    <a href="#">@menuitem.Nombre</a>
                }

                @{
                    Html.RenderPartial("MenuParcial", menuitem.Hijos);
                }
            </li>
        </ul>
    }
}
