@model List<Universidad.Entidades.ControlUsuario.MenuSisWadmE>

@if (Model != null)
{
    foreach (var menuitem in Model)
    {
        <ul>
            <li>
                @Html.ActionLink(@menuitem.Nombre,menuitem.Method,menuitem.Controller)
                @{
                    Html.RenderPartial("MenuParcial", menuitem.Hijos);
                }
            </li>
        </ul>
    }
}
