<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreditos" />
                <binding name="BasicHttpBinding_INotificacionesWebServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.75.23:8889/wsCreditos/Creditos.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditos"
                contract="WSCreditosMyo.ICreditos" name="BasicHttpBinding_ICreditos" />
            <endpoint address="http://localhost:49857/NotificacionesWebServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionesWebServices"
                contract="NotificacionesWebServices.INotificacionesWebServices"
                name="BasicHttpBinding_INotificacionesWebServices" />
        </client>
    </system.serviceModel>
</configuration>