<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eClockSync5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eClockSync5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <userSettings>
        <eClockSync5.Properties.Settings>
            <setting name="Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Clave" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordarCredenciales" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Proxy_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy_Usuario" serializeAs="String">
                <value />
            </setting>
            <setting name="Proxy_Clave" serializeAs="String">
                <value />
            </setting>
            <setting name="SitiosIDs" serializeAs="String">
                <value />
            </setting>
            <setting name="ValidarHorario" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EsMerck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BorrarHuellas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BorrarChecadas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeOutCambios" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value />
            </setting>
            <setting name="MostrarAsistente" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Licencia" serializeAs="String">
                <value />
            </setting>
            <setting name="ModoFoto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RutaWebService" serializeAs="String">
                <value>http://queen.entrytec.com.mx:83/WS_eCheck.asmx</value>
            </setting>
        </eClockSync5.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <eClockSync5.Properties.Settings>
            <setting name="NombreImpresora" serializeAs="String">
                <value>Microsoft XPS Document Writer</value>
            </setting>
            <setting name="eClockSync5_WS_eCheck_WS_eCheck" serializeAs="String">
                <value>http://queen.entrytec.com.mx:83/WS_eCheck.asmx</value>
            </setting>
        </eClockSync5.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_S_Sesion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://queen.entrytec.com.mx:83/S_Sesion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S_Sesion"
                contract="ES_Sesion.S_Sesion" name="BasicHttpBinding_S_Sesion" />
        </client>
    </system.serviceModel>
</configuration>
