@using Universidad.Entidades
@{
    ViewBag.Title = "EditarPersona";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var direcciones = new DIR_DIRECCIONES();
    var datos = new PER_PERSONAS();
    var telefonos = new PER_CAT_TELEFONOS();
    var medElec = new PER_MEDIOS_ELECTRONICOS();
    var fotografia = new PER_FOTOGRAFIA();
    var pais = new PER_CAT_NACIONALIDAD();
    var tipoPersona = new PER_CAT_TIPO_PERSONA();

    if (ViewBag.Direccion != null)
    {
        direcciones = (DIR_DIRECCIONES) ViewBag.Direccion;
    }

    if (ViewBag.Datos != null)
    {
        datos = (PER_PERSONAS) ViewBag.Datos;
    }

    if (ViewBag.Telefonos != null)
    {
        telefonos = (PER_CAT_TELEFONOS) ViewBag.Telefonos;
    }

    if (ViewBag.MedElec != null)
    {
        medElec = (PER_MEDIOS_ELECTRONICOS) ViewBag.MedElec;
    }

    if (ViewBag.Fotografia != null)
    {
        fotografia = (PER_FOTOGRAFIA) ViewBag.Fotografia;
    }

    if (ViewBag.Pais != null)
    {
        pais = (PER_CAT_NACIONALIDAD) ViewBag.Pais;
    }

    if (ViewBag.TipoPersona != null)
    {
        tipoPersona = (PER_CAT_TIPO_PERSONA) ViewBag.TipoPersona;
    }
}
<br />
<br />
<ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#DatosPersonales">Datos personales</a></li>
    <li><a data-toggle="tab" href="#Direccion">Direccion</a></li>
    <li><a data-toggle="tab" href="#Telefonos">Telefonos</a></li>
    <li><a data-toggle="tab" href="#MediosElectronicos">Medios electronicos</a></li>
    <li><a data-toggle="tab" href="#Fotografia">Fotografia</a></li>
</ul>
<br />
<div class="tab-content col-md-12">
    <div id="DatosPersonales" class="tab-pane fade in active">
        <div class="panel panel-default form-margin">
            <h3>Datos</h3>
            <br />
            <div class="panel-heading form-margin">
                <div class="panel-title">Llena los campos de la direccion del usuario</div>
            </div>
            <fieldset></fieldset>
            <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
            </div>
        </div>
    </div>
    <div id="Direccion" class="tab-pane">
        <div class="panel panel-default form-margin">
            <h3>Direccion</h3>
            <br />
            <div class="panel-heading form-margin">
                <div class="panel-title">Llena los campos de la direccion del usuario</div>
            </div>
            <fieldset></fieldset>
            <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
                @direcciones.CALLE
                @direcciones.IDCOLONIA
                @direcciones.IDESTADO
                @direcciones.IDMUNICIPIO
            </div>
        </div>
    </div>
    <div id="Telefonos" class="tab-pane">
        <div class="panel panel-default form-margin">
            <h3>Telefonos</h3>
            <br />
            <div class="panel-heading form-margin">
                <div class="panel-title">Llena los campos de la direccion del usuario</div>
            </div>
            <fieldset></fieldset>
            <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
            </div>
        </div>
    </div>
    <div id="MediosElectronicos" class="tab-pane">
        <div class="panel panel-default form-margin">
            <h3>Medios Electronicos</h3>
            <br />
            <div class="panel-heading form-margin">
                <div class="panel-title">Llena los campos de la direccion del usuario</div>
            </div>
            <fieldset></fieldset>
            <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
            </div>
        </div>
    </div>
    <div id="Fotografia" class="tab-pane">
        <div class="panel panel-default form-margin">
            <h3>Fotografia</h3>
            <br />
            <div class="panel-heading form-margin">
                <div class="panel-title">Llena los campos de la direccion del usuario</div>
            </div>
            <fieldset></fieldset>
            <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
            </div>
        </div>
    </div>
</div>
