@{
    var titulo = ViewBag.Title = "Registro de personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <br />
    <h2>@titulo</h2>
    <br />

    <div class="panel panel-default" style="margin: 5px; padding: 10px;">
        <div class="panel-heading" style="margin: 5px; padding: 10px;">
            <div class="panel-title">Llena los datos personales</div>
        </div>
        @using (Html.BeginForm("NuevaPersona", "Personas", FormMethod.Post))
        {

            <fieldset>
                <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
                    <div class="input-group form-group col-md-12">
                        <label for="a" class="input-group-addon">Company Name:</label>
                        <input type="text" name="a" value="" class="form-control" placeholder="Company Name" />
                        <label for="b" class="input-group-addon">Contact Name:</label>
                        <input type="text" name="b" value="" class="form-control" placeholder="Contact Name" />
                        <label for="e" class="input-group-addon">Employee acount:</label>
                        <input type="text" name="e" value="" class="form-control" placeholder="Employee acount" />
                    </div>
                    <div class="input-group form-group col-md-12">
                        <label for="c" class="input-group-addon">Employee acount:</label>
                        <input type="text" name="c" value="" class="form-control" placeholder="Employee acount" />
                        <label for="d" class="input-group-addon">Employee age:</label>
                        <input type="text" name="d" value="" class="form-control" placeholder="Employee age" />
                    </div>
                </div>
                <div style="margin-top: 10px; float: right;" class="form-group">
                    <label>&nbsp;</label>
                    <input type="submit" value="Registrar" class="btn btn-success btn-xs" style=" margin: 10px; padding: 10px;">
                </div>
            </fieldset>
        }
    </div>
</div>