@model Universidad.WebAdministrativa.Models.ModelWizardPersonas
@{
    ViewBag.Title = "Fotografia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    <script src="/Scripts/jquery.webcam.js" type="text/javascript"></script>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#btnCargaImagen").click(function () {
                var tem = $("#imgFoto");
                tem.removeAttr("src");
                tem.attr("src", "/imagenes/logo-hello1.jpg");

                tem.load(function () {
                    if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                    }
                    else {
                    }
                });
            });
        });

        $("#Camara").webcam({  
            width: 320,  
            height: 240,  
            mode: "save",  
            swffile: "@Url.Content("~/Scripts/jscam.swf")",  
            onTick: function () { },  
        onSave: function () {  
            UploadPic();  
        },  
        onCapture: function () {  
            webcam.save("/imagenes");  
        },  
        debug: function () { },  
        onLoad: function () { }  
  
        });

        function UploadPic() {
            $.ajax({  
                type: 'POST',  
                url: ("/imagenes"),  
            dataType: 'json',  
            success: function (data) {  
                $("#show").attr("src", data);  
                document.getElementById('btnCargaImagen').disabled = false;
                alert("Photo Capture successfully!");  
            }  
        });  
        }  
    </script>

}
<div class="principal">
    <div class="jumbotron">
        <h2>@ViewBag.Title</h2>
        <br />
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#CargarFoto">Cargar Fotografia</a></li>
            <li><a data-toggle="tab" href="#TomarFoto">Tomar fotografia</a></li>
        </ul>
        <br />
        <div class="tab-content col-md-12">
            <div id="CargarFoto" class="tab-pane fade in active">
                <div class="panel panel-default form-margin">
                    <h3>Cargar Fotografia</h3>
                    <br />
                    <div class="panel-heading form-margin">
                        <div class="panel-title">Llena los campos de la direccion del usuario</div>
                    </div>
                    <fieldset></fieldset>
                    <div class="form-group row form-group input-group-sm" style="margin: 5px; padding: 10px;">
                        <div class="row">
                            <div class="row" style="margin: 0 0 0 0; padding: 0 0 0 0;">
                                <div class="thumbnail">
                                    <img src="/imagenes/TFU-starkiller.jpg" alt="Generic placeholder thumbnail" class="col-md-4 hidden" id="imgFoto">
                                </div>
                                <div class="caption">
                                    <h3>Detalles</h3>
                                    <p>Some sample text. Some sample text.</p>
                                    <button href="#" class="btn btn-primary" role="button" id="btnCargaImagen">Default</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-10">
                            <div class="input-group">
                                <label class="input-group-addon input-group-sm">Archivo</label>
                                <input id="txtFileUpload" class="form-control" type="text">
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-default" role="button">
                                        Cargar
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="TomarFoto" class="tab-pane fade">
                <h3>Tomar Fotografia</h3>
                <br />
                <br />
                <div id="Camara"></div>
                <button href="#" class="btn btn-primary" role="button" id="btnCargaImagen" onclick="uploadsubmit();">Default</button>
            </div>
        </div>
    </div>
</div>
