@model Universidad.WebAdministrativa.Models.ModelWizardPersonas
@{
    ViewBag.Title = "WizardPersonaMediosElectronicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WizardPersonaMediosElectronicos</h2>

