<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET,  visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="Aplicacion" value="test" />
    <add key="Produccion" value="false" />
    <add key="EsCallCenter" value="false"/>
    <!--<add key="Aplicacion" value="OriginacionMovil"/>-->
    <!--<add key="Aplicacion" value="Demo" />-->
    <!--<add key="Aplicacion" value="Sira"/>-->
    <!--<add key="Aplicacion" value="MYO"/>-->

    <add key="CWDirectorioImagenes" value="D:\\inetpub\\wwwroot\\imagenes.publipayments.com\\" />
    <add key="CWDirectorioImagenesOriginacion" value="D:\\inetpub\\wwwroot\\imagenes.01800pagos.com\\" />
    <add key="CWDirectorioBitacoraImagenesOriginacion" value="D:\\inetpub\\wwwroot\\imagenes.01800pagos.com\\Bitacora\\" />
    <add key="CWDirectorioComprimidosImagenesOriginacion" value="D:\\inetpub\\wwwroot\\imagenes.01800pagos.com\\Comprimidos\\" />
    <add key="CWDirectorioComprimidosOriginacionDescarga" value="http:\\\\192.168.82.189:8137\\Comprimidos\\" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />

    <add key="CWDirectorioDocumentosOriginacionDescarga" value="http:\\\\imagenes.01800pagos.com\\" />
    <add key="CWDirectorioImagenesMYO" value="D:\\inetpub\\wwwroot\\imagenesmyotest.publipayments.com\\" />
    <add key="CWDirectorioBitacoraImagenesMYO" value="D:\\inetpub\\wwwroot\\imagenesmyotest.publipayments.com\\Bitacora\\" />
    <add key="CWDirectorioComprimidosImagenesMYO" value="D:\\inetpub\\wwwroot\\imagenesmyotest.publipayments.com\\Comprimidos\\" />
    <add key="CWDirectorioComprimidosMYODescarga" value="http:\\\\imagenesmyotest.publipayments.com\\Comprimidos\\" />
    <add key="CWDirectorioDocumentosMYODescarga" value="http:\\\\imagenesmyotest.publipayments.com\\" />
    <add key="documentosRechazo" value="Documento|documento2" />

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LimiteOrdenGestor" value="400" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="webpages:Enabled" value="false" />
    <add key="CampoCelularSMS" value="CelularSMS_" />
    <add key="CampoCelularSMSAct" value="CelularSMS_Actualizado" />
    <add key="CampoCelularSMSAnt" value="CelularSMS_Ant" />
    <add key="CodigoSMS" value="CodSMS" />
    <add key="CamposRespSMS" value="AssignedTo,FinalDate,CelularSMS_Actualizado" />
    <add key="CampoAutorizacionRespSMS" value="ResultadoClaveSMS" />
    <add key="UrlWS01800pagos" value="https://servicios.01800pagos.com/services.svc/" />
    <add key="porcErrorSincronizando" value="5" />
    <add key="porcWarnSincronizando" value="3" />
    <add key="VarPAEDAVI" value="Abandonada,deshabitada,Invadida,Vandalizada" />
    <!--CorreosSMTP-->
    <add key="CorreoHost" value="10.211.64.74" />
    <add key="CorreoPuerto" value="252" />
    <add key="CorreoSsl" value="false" />
    <!--CorreosSMTP-->
    <!--CheckSftp-->
    <add key="sFTPhost" value="201.134.132.136" />
    <add key="sFTPusername" value="UserPPMCSI" />
    <add key="sFTPpassword" value="Us3rPPMC$1" />
    <add key="sFTPPort" value="22" />
    <add key="sFTPRemoteDirectory" value="." />
    <!--CheckSftp-->
    <!--ServicioFormiik-->
    <add key="ServicioFormiik" value="https://wsformiik.broxel.com/api.svc/" />
    <!--ServicioFormiik-->
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="60.00:00:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="public" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location path="Home">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EstatusServicios">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ActualizaDatosComercio">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="es" culture="es" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="DevExpress.Utils" />
        <add namespace="DevExpress.Web" />
        <add namespace="DevExpress.Web.ASPxHtmlEditor" />
        <add namespace="DevExpress.Web.ASPxSpellChecker" />
        <add namespace="DevExpress.Web.ASPxThemes" />
        <add namespace="DevExpress.Web.ASPxTreeList" />
        <add namespace="DevExpress.XtraCharts" />
        <add namespace="DevExpress.XtraCharts.Web" />
        <add namespace="DevExpress.XtraReports" />
        <add namespace="DevExpress.XtraReports.UI" />
        <add namespace="DevExpress.XtraReports.Web" />
        <add namespace="DevExpress.XtraPivotGrid" />
        <add namespace="DevExpress.Data.PivotGrid" />
        <add namespace="DevExpress.Web.ASPxPivotGrid" />
        <add namespace="DevExpress.Web.Mvc" />
        <add namespace="DevExpress.Web.Mvc.UI" />
        <add namespace="DevExpress.XtraScheduler" />
        <add namespace="DevExpress.XtraScheduler.Native" />
        <add namespace="DevExpress.Web.ASPxScheduler" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpRuntime maxRequestLength="20480" executionTimeout="600" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="DevExpress.Web.ASPxThemes.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.RichEdit.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.RichEdit.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Office.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.SpellChecker.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Charts.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v15.2.Presets, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGauges.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v15.2.Web, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v15.2.Web, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraPivotGrid.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraScheduler.v15.2.Core, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxScheduler.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.Mvc.v15.2, Version=15.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home" loginUrl="~/Home" slidingExpiration="true" timeout="2880" />
    </authentication>
    <authorization>
      <allow roles="0,1,2,3,4,5,6" />
      <deny users="*" />
    </authorization>
    <customErrors defaultRedirect="Errores.html" mode="On">
      <error statusCode="404" redirect="/NoEncontrada.html" />
    </customErrors>
    <machineKey validationKey="29C7C8132A7F7476D8666D81FF61ED55C955E25B3D6752651B4A588B7979046E64E600DBA2CF4C555EC715C93A2CCAAE6F9D23618E52781954EA4193B6DEADA1" decryptionKey="94B7B81FC62FFD867E162BBDC795A71E615F8B8B9D0C21EFD4D8EA9861BB13A3" validation="SHA1" decryption="AES" />
  </system.web>
  <connectionStrings>
    <!--Cobranza-->
    <add name="PubliPayments.Entidades.BroxelSMSsEntities" connectionString="PubliPayments.Entidades.BroxelSMSsEntities_ConnectionString" providerName="System.Data.SqlClient" />
    <!--Conecciones para SitioTest 220-->
    <add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasCobranzaTest;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=TareasLondon;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranzaTest;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=TareasLondon;" providerName="System.Data.SqlClient"/>
    <!--Conecciones para SitioCapacitacion--><!--
    <add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasCobranzaCapacitacion;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=SistemasCobranzaTest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranzaCapacitacion;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=SistemasCobranzaTest;" providerName="System.Data.SqlClient" />-->
    <!--Conecciones para Sitio Produccion-->
    <!--	<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasCobranza;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=ppPortal;Max Pool Size=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    	<add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranza;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=ppPortal;Max Pool Size=300" providerName="System.Data.SqlClient" />-->
    <!--Originacion-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasOriginacionMovil;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=PortalOriginacion;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasOriginacionMovil;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=PortalOriginacion;" providerName="System.Data.SqlClient" />-->
    <!--Sira-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasSIRA;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=PortalSira;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasSIRA;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=PortalSira;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.210.0.142;initial catalog=SistemasSIRATest;persist security info=True;user id=testduser;password=dKPcdRDl;Application Name=ppPortalSiraTest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=10.210.0.142;Initial Catalog=SistemasSIRATest;Persist Security Info=True;User ID=testduser;Password=dKPcdRDl;Application Name=ppPortalSiraTest" providerName="System.Data.SqlClient" />-->
    <!--MYO-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasMYO;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=PortalMYOTest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasMYO;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=PortalMYOTest;" providerName="System.Data.SqlClient" />-->
    <add name="FlockMYO" connectionString="Data Source=192.168.75.23;Initial Catalog=MYO;Persist Security Info=True;User ID=pablo.jaimes;Password=Br0x3l6789;" providerName="System.Data.SqlClient" />
    <add name="PubliPayments.Entidades.BroxelSMSsEntities" connectionString="PubliPayments.Entidades.BroxelSMSsEntities_ConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="WSCSIBMSoapBinding" />
        <binding name="BasicHttpBinding_IBackEnd" />
        <binding name="BasicHttpBinding_IBackEnd1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://201.144.89.12/CSIBMWS/services/WSCSIBM" binding="basicHttpBinding" bindingConfiguration="WSCSIBMSoapBinding" contract="wsGestiones.WSCSIBM" name="WSCSIBM" />
      <endpoint address="http://cloudnubiik.cloudapp.net:8081/BackEnd.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd" contract="WebServiceFmk.IBackEnd" name="BasicHttpBinding_IBackEnd" />
      <endpoint address="https://cloudnubiik.cloudapp.net:8084/BackEnd.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd1" contract="WebServiceFmk.IBackEnd" name="BasicHttpBinding_IBackEnd1" />
    </client>
    <services>
      <service name="PubliPayments.Service.ServiceDashboard">
        <endpoint address="Service/ServiceDashboard.svc" binding="webHttpBinding" contract="PubliPayments.Service.IServiceDashboard" behaviorConfiguration="ServiceBehavior" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textListener" type="PubliPayments.Utiles.MaxTextWriteTraceListener,PubliPayments.Utiles" initializeData="C:\Transfer\catarsys\ppPortalTest.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>