<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Aplicacion" value="OriginacionMovil"
             xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Produccion" value="true"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="CWDirectorioImagenes" value="D:\\inetpub\\wwwroot\\imagenes.01800pagos.com\\"
        xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Transfer\catarsys\PortalOriginacionMovil.log"
               xdt:Transform="Replace" xdt:Locator="Match(name)" />
      </listeners>
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <!--Originacion Movil-->
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasOriginacionMovil;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=PortalOriginacionMovil" providerName="System.Data.SqlClient"
               xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasOriginacionMovil;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=PortalOriginacionMovil;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"
               xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>