<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsuariosWsSoap" />
                <binding name="BasicHttpBinding_IUsuariosWcf" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4277/Usuarios/UsuariosWs.asmx"
                binding="basicHttpBinding" bindingConfiguration="UsuariosWsSoap"
                contract="UsuariosWs.UsuariosWsSoap" name="UsuariosWsSoap" />
            <endpoint address="http://localhost:4277/Usuarios/UsuariosWcf.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuariosWcf"
                contract="UsuariosWcf.IUsuariosWcf" name="BasicHttpBinding_IUsuariosWcf" />
        </client>
    </system.serviceModel>
</configuration>