/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

div.CenterDivBar {
    width: 95%;
    display: table;
    margin: 0 auto;
    position: relative;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.primaryStaticMenu {
    background-color: transparent;
    float: right;
}

.primaryStaticMenuItem {
    width: 15em;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #efefef #aaab9c #ccc #efefef;
    border-style: solid;
    color: #777777;
    padding: 1em 0 1em 1em;
}

.primaryStaticHover {
    color: #999999;
    background: #ffffff;
}

.primaryDynamicMenu {
    background-color: #ffffff;
    border-bottom: solid 1px #ccc;
}

.primaryDynamicMenuItem {
    width: 15em;
    background-color: #FFFFFF;
    color: #999999;
    padding: 1em 0 1em 1em;
    border-width: 1px;
    border-color: #111111 #111111 #111111 #111111;
    border-style: solid;
}

.primaryDynamicHover {
    color: #999999;
    background: #ffffff;
}

.secondaryLevelOne {
    background-color: transparent;
    background-repeat: repeat-x;
    margin: 1.5em 0 0 0;
    padding: 5px 0 0 5px;
    width: 15em;
    height: 35px;
}

.secondaryLevelTwo {
    background: #999999;
    padding: 5px 0 5px 5px;
}

.secondaryStaticHover {
    color: #999999;
}

.navbar {
    height: 20px;
}

.navbar-header {
    height: 20px;
}

.navbar-inverse {
    height: 20px;
}
