<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PAEEEM.DataAccessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings>
    <PAEEEM.DataAccessLayer.Properties.Settings>
      <setting name="PAEEEM_DataAccessLayer_wsCC_wsCC" serializeAs="String">
        <value>http://10.55.210.48/fide_circulo/query.php</value>
      </setting>
      <setting name="PAEEEM_DataAccessLayer_SICOM1_TraeRecibo" serializeAs="String">
        <value>http://10.7.7.202/webservices/wsTraeRecibos/TreRecibo.asmx</value>
      </setting>
    </PAEEEM.DataAccessLayer.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <!--<add name="CreditEntities" connectionString="metadata=res://*/Models.CreditModel.csdl|res://*/Models.CreditModel.ssdl|res://*/Models.CreditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.99;initial catalog=PAEEEM_DESA;user id=netropology;password=N3tr0p0l0gy;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CreditEntities" connectionString="metadata=res://*/Models.CreditModel.csdl|res://*/Models.CreditModel.ssdl|res://*/Models.CreditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HPPAVILIONDV4\LOCAL;initial catalog=PAEEEM_DESA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CreditEntities" connectionString="metadata=res://*/Models.CreditModel.csdl|res://*/Models.CreditModel.ssdl|res://*/Models.CreditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.99;initial catalog=PAEM_DEV;user id=netropology;password=N3tr0p0l0gy;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="creditEntities" connectionString="metadata=res://*/Models.creditModel.csdl|res://*/Models.creditModel.ssdl|res://*/Models.creditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.99;initial catalog=PAEM_DEV;user id=netropology;password=N3tr0p0l0gy;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="creditEntities" connectionString="metadata=res://*/Models.creditModel.csdl|res://*/Models.creditModel.ssdl|res://*/Models.creditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.99;initial catalog=PAEEEM_DESA;user id=netropology;password=N3tr0p0l0gy;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
