<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="defaultConnection" value="sqlCon" />
  </appSettings>
  <connectionStrings>
    <add name="sqlCon" connectionString="Data Source=10.91.152.51;Initial Catalog=DALC4NET_DB;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
	<add name="mySqlCon" connectionString ="Server=localhost;Port=3306;Database=dalc4net_db;Uid=root;Pwd=P@ssw0rd;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
	<add name="oracleCon" connectionString ="Server=localhost;Port=3306;Database=dalc4net_db;Uid=root;Pwd=P@ssw0rd;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
	<add name="accessCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Program Files\AccountPlus\Database\AccountPlus.mdb;Jet OLEDB:Database Password=admin;" providerName="System.Data.OleDb" />	  
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=6.0.3.0,Culture=neutral,PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>

</configuration>

