<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEntitiesServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4702/Services/EntitiesServer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntitiesServer"
                contract="SvcServicesEntities.IEntitiesServer" name="BasicHttpBinding_IEntitiesServer" />
        </client>
    </system.serviceModel>
</configuration>