
tr.form-row0
{
	background-color:#D6E8FF;
	width:100%;
	min-height: 24px;
	height: 24px;
	
}

.Titulos {
    	font-size: 24px;	
	color: #2F2F2F;	
	TEXT-ALIGN:left ;
	width:auto;
    font-weight: bold;
     font-family: Arial, Tahoma;
}

.legend_info {
    border: 2px solid rgb(0, 163, 217);
    border-spacing: 0 0;
    text-align: center;
    font-family: Arial, Tahoma;
    font-size: 16px;
    width: auto;
}

.fieldset_Netro {
    border: 2px solid rgb(0, 163, 217);
    border-spacing: 0 0;
    text-align: center;
    font-family: Arial, Tahoma;
    font-size: 16px;
    width: auto;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

 .td_label {
	font-size: 14px;	
	color: #2F2F2F;	
	TEXT-ALIGN:left;
	width:auto;
    font-weight: bold;
     font-family: Arial, Tahoma;

} 
 .tbright
{
	
	text-align: right;
}
 .tbleft
{
	text-align: left;
}

td.Columns
{	
	font-size:14px;	
	text-align:left ;
	width:auto;
}

table.formTable
{
	width: 100%;
	table-layout:auto;
}
table.FormTable1
{
 width:70%;
 table-layout :auto;	
}
/*
lable styles ;
*/
.td_lable_1 {
	font-size: 14px;	
	color: #2F2F2F;	
	TEXT-ALIGN:left ;
	width:auto;
} 


/*
textBox style
*/
.td_textBox_1 {
	font-size: 14px;
	color:#2F2F2F;
	margin: 1px;
	height: 23px;
	text-align :left ;
	
			
}

/*
button style
*/
.btn1 {
	font-size: 14px;
	color: #2F2F2F;
	height: 23px;
	width:auto;
	text-align :center;
		
	/*
	border: 1px solid #CCCCFF;
	background-color: #CCCCFF;*/
}
.line_num {
	font-size: 15px;
	line-height: 18px;
	color:#ff3c00;
	font-weight:bold;
}
/*
span sytle

*/
.span{
	font-size: 16px;
	line-height: 20px;
	color:#ff0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}
/*Link*/
a.link01:link{
	color: #333333;
	text-decoration: none;
	font-size:16px;
	line-height: 20px;
}

/*style after mouse leaving link button*/

a.link01:hover{
	font-size:16px;
	line-height:25px;
	color:#333333;
	font-weight: bold;     
}
/*style when mouse moving at the link button*/
a.link01:visited{
	font-size:12px;
	line-height:25px;
	color:#333333;
	text-decoration: none;
}
/*
buttonLink Style
*/
a.btn_1:link {
	font-size: 16px;
	line-height: 23px;
	color: #312a29;
	text-decoration: none;
}
/*
mouse over link style
*/
a.btn_1:visited {
	font-size: 16px;
	line-height: 23px;
	color: #312a29;
	text-decoration: none;
}
/*
Mouse on link style
*/
a.btn_1:hover {
	font-size: 16px;
	line-height: 23px;
	color: #333333;
	text-decoration: none;
	font-weight: bold;
}

/*
datalist  
*/
.dtItemStyle
{    
	font-size: 14px;	 
	text-align :center;		 
	border-width:1px ;
	width:250px;
}

.imgADD
{    
    src :url('../Images/add.gif');
    cursor :pointer ;
    
	font-size: 12px;	 
	text-align :center;	
	border-color:orange	;	 
	border-width:1px ;
}  


.td_listbox
	{
		width:300px;		
	}
.td_ddList
   {
   	font-size: 14px;	 
	text-align :center;		 
	border-width:1px ;
   	width: 240px;     		 	
	}
.hover
	{
		cursor:move;	
		
	}

.rule 
{
    height: 3px; 
    color: #00A3D9; 
    background-color: #00A3D9;
}

.ruleNet 
{
    height: 2px; 
    color: #00A3D9; 
    background-color: #00A3D9;
}
