<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>

    <add key="Aplicacion" value="test"/>
    <!--<add key="Aplicacion" value="Capacitacion" />-->
    <add key="Produccion" value="false"/>

    <!--<add key="Aplicacion" value="Paris" />-->
    <!--<add key="Aplicacion" value="Demo" />-->
    <!--<add key="Aplicacion" value="OriginacionMovil" />-->

    <add key="TareaEnviarArchivos" value="true" />
    <add key="TareaRecibirArchivos" value="true" />
    <add key="TareaEnviarOrdenesWS" value="true" />
    <add key="TareaReporteGestionMovil" value="true" />
    <add key="TareaMonitoreoSMS" value="true" />
    <add key="TareaEnvioSMS" value="true" />
    <add key="TareaProcesarSMS" value="true" />
    <add key="TareaDescargaImagenesFormiik" value="false" />
    <add key="TareaProcesarReporteGeneral" value="false" />
    <add key="TareaEnviaResumenProcesoRegistroWs" value="false"/>
    <!--Consultar estatus del crédito para notificar al beneficiario-->
    <add key="TareaConsultarEstatusCreditoWS" value="false" />
    <add key="TareaProcesarOCR" value="true" />
    <add key="TareaProcesarRespuestasPendientes" value="true" />

    <add key="DirectorioSFTP" value="C:\Publipayments\ImportsLondon\sFTP\" />
    <add key="DirectorioArchivosDescomprimidos" value="C:\Publipayments\ImportsLondon\Imports" />
    <add key="DirectorioArchivosComprimidos" value="C:\Publipayments\ImportsLondon\Exports" />
    <!--London-->
    <add key="sFTPhost" value="201.134.132.136" />
    <add key="sFTPusername" value="UserPPMCSI" />
    <add key="sFTPpassword" value="Us3rPPMC$1" />
    <add key="sFTPPort" value="22" />
    <add key="sFTPremoteDEntrega" value="./PPM/ENTREGA" />
    <add key="ArchivoAsignacion" value="PGM_ASIGNACION.TXT" />
    <add key="FiltroArchivo" value="*.zip,*.txt" />
    <!--Sira-->
    <!--<add key="sFTPhost" value="108.166.29.196" />
    <add key="sFTPusername" value="iperez" />
    <add key="sFTPpassword" value="8t4V09R839xn" />
    <add key="sFTPPort" value="2200" />
    <add key="sFTPremoteDEntrega" value="./CARGACOMERCIOS" />
    <add key="ArchivoAsignacion" value="envioproveedor.xlsx" />
    <add key="FiltroArchivo" value="*.zip,*.xlsx" />-->
    <add key="sFTPremoteDRespuesta" value="./PPM/RESPUESTA" />
    <add key="ArchivoComplementaria" value="PGM_COMPLEMENTARIA.TXT" />
    <add key="ArchivoActualizacion" value="PGM_ACTUALIZACION.TXT" />
    <add key="ArchivoReasignaciones" value="PGM_REASIGNACIONES.TXT" />
    <add key="ArchivoPagos" value="PGM_PAGOS.TXT" />
    <add key="ArchivoGestiones" value="PGM_GESTIONES.TXT" />
    <add key="ArchivoGestionesP" value="PGM_VSMP.TXT"/>
    <add key="ArchivoCedulaInspeccion" value="PGM_INSPECCION.TXT"/>
    <add key="ArchivoFotos" value="PGM_FOTOS.TXT"/>
    <add key="ArchivoReferencias" value="PGM_REFERENCIAS.TXT"/>
    <add key="ArchivoRUnificado" value="PGM_REPORTE_UNIFICADO.TXT"/>
    <add key="ArchivoAsignacionIni" value="PGM_ASIGNACION_INI.TXT"/>
    <add key="ReglaPGM_ASIGNACION_INI" value="PGM_ASIGNACION_INI.TXT|1"/>
    <!-- nombre del archivo a aplicar la regla y el dia en que se debe de procesar-->
    <add key="ArchivoRegistroAsesores" value="PGM_REGISTRO.TXT"/>

    <add key="ReglaProcesoArchivo" value="PGM_ASIGNACION_INI.TXT|1,PGM_CONTACTO.TXT|1,PGM_CONTACTO.TXT|24"/>
    <add key="PgmCifras" value="PGM_CIFRAS.TXT"/>

    <add key="TareasProceso" value="150" />
    <add key="DirectorioImagenesFormiik" value="D:\\inetpub\\wwwroot\\imagenes.01800pagos.com\\" />
    <add key="URLFormiik" value="https://xcaret.blob.core.windows.net/response-files/" />
    <add key="urlImagenesFormiik" value="https://imagenes.01800pagos.com/" />

    <!--Credenciales SMS-->
    <!--credenciales Publipayments-->
    <add key="UsernameSMS" value="broxel4" />
    <add key="PasswordSMS" value="evKA3McJ" />
    <add key="HostSMS" value="http://quiubas-api.dyndns-ip.com:9501" />

    <!--credenciales MYO-->
    <!--<add key="UsernameSMS" value="br0x3l"/>
    <add key="PasswordSMS" value="bTEax3l"/>
    <add key="HostSMS" value="http://api.c3ntrosms.com:8585/Api/rec.php"/>-->

    <!--Credenciales SMS-->
    <add key="MensajeSMS" value="En la visita del asesor de Infonavit, se llego al acuerdo de {0}. Para autorizarlo proporcione la clave: {1} a su asesor."/>
    <add key="MensajeSMSCC" value="En la llamada realizada al Infonavit, se llego al acuerdo de {0}. Para autorizarlo responda este mensaje con la clave: {1}" />
    <add key="MensajeSMSAutorizacion" value="La autorizacion se ha procesado correctamente." />
    <add key="MensajeSMSError" value="La clave de confirmacion enviada no es correcta. Por favor responda solamente con la clave proporcionada en el SMS" />
    <add key="MensajeSMSNoEncontrado" value="El telefono del que se ha respondido no se encuentra registrado en el sistema." />

    <add key="TiempoMonitoreoSMS" value="60000" />
    <!--en milisegundos-->
    <add key="TiempoEnvioSMS" value="61000" />
    <!--en milisegundos-->

    <add key="VarPAEDAVI" value="Abandonada,deshabitada,Invadida,Vandalizada" />

    <!--formato 24 hrs-->
    <add key="hrsUpGestion" value="22" />
    <add key="msUpGestion" value="0" />

    <add key="hrsUpGestionP" value="22" />
    <add key="msUpGestionP" value="15" />

    <add key="hrsUpCedulaInspeccion" value="23"/>
    <add key="msUpCedulaInspeccion" value="20"/>

    <add key="hrsUpFoto" value="22" />
    <add key="msUpFoto" value="30" />

    <add key="hrsUpRUnificado" value="23" />
    <add key="msUpRUnificado" value="0" />

    <add key="hrsUpReferencias" value="23" />
    <add key="msUpReferencias" value="50" />

    <add key="hrsUpRegistroAsesores" value="22"/>
    <add key="msUpRegistroAsesores" value="20"/>

    <add key="msReporteGestionMovil" value="15" />

    <add key="hrsResumenProcesoWs" value="22"/>
    <add key="msResumenProcesoWs" value="20"/>

    <!--formato 24 hrs-->
    <add key="NotificacionesEmail1" value="" />
    <add key="NotificacionesEmail2" value="Archivo: {0} - favor de consultar la plataforma para obtener más detalles. Fecha: {1}" />
    <add key="NotificacionesEmail3" value="El archivo {0}, procesó {1} registros exitosamente, fecha: {2}" />

    <!--Cuerpo del correo consulta estatus de crédito-->
    <add key="SubjectDispersion" value="Aviso." />
    <add key="SubjectDesarrollo" value="Tarea - Envio de correo a ordenes dispersadas" />
    <add key="NotificacionesEmailDispersion" value="Hola {0},Por medio de este correo te notificamos que tu crédito Mejoravit con el número {1} ya ha sido ejercido, por lo cual ya puedes hacer uso de tu tarjeta desde este momento. Cualquier duda favor de llamar a nuestras líneas de atención 01800 2635672 o a nuestro correo soporte@mejoravit.com" />
    <add key="NotificacionesEmailDesarrollo" value="Al ejecutarse la tarea TareaProcesaOrdenesTipo se tuvo el siguiente warnig: {0}" />
    <add key="TiempoEspera" value="60000" />
    <add key="TiempoMonitoreoConsultaCreditoWS" value="60000" />
    <add key="CorreoDesarrollo" value="SistemasDesarrollo@publipayments.com" />
    <add key="EstatusABuscar" value="4" />

    <add key="LimiteOrdenGestor" value="400" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!--Informacion MYO-->
    <add key="TareaProcesarFlock" value="False" />
    <!--<add key="DirectorioXmlCA" value="C:\MYO\CirAzul.xml" />
    <add key="UrlCirculoBuro" value="http://192.168.75.23:8021/CirculoCredito/Buro.svc/ConsultarScore" />
    <add key="CveOto" value="0000081038" />
    <add key="NomUsr" value="IHG8728CCO" />
    <add key="Pass" value="pru3ba00" />-->
    <add key="URLFlock" value="http://imagenesmyofront.myoclub.com/" />
    <add key="urlImagenesFlock" value="https://imagenesmyo.publipayments.com/" />
    <add key="DirectorioImagenesFlock" value="D:\\inetpub\\wwwroot\\imagenesmyo.publipayments.com\\" />
    <add key="TareaDescargaImagenesFlock" value="False" />

    <!--<add key="MYOEmpresa" value="001"/>
    <add key="MYOProducto" value="001"/>-->
    <add key="MYOEmpresa" value="37"/>
    <add key="MYOProducto" value="D152"/>
    <!--<add key="MYOMensajeSMS" value="Buen día, su crédito MYO No {0} tiene {1} semanas adeudo por la cantidad {2} . Favor de pagarlo antes del día {3}"/>-->
    <add key="MYOMensajeSMS" value="Su fecha limite de pago es el {0}. Para mayor informacion puede ingresar a su cuenta virtual en la app o broxel.com"/>

    <add key="hrsSAFCV" value="10"/>
    <add key="msSAFCV" value="0"/>
    <add key="ObtenerSAFCarteraVencida" value="false"/>
    <add key="ProcesarCarteraVencida" value="false"/>
    <add key="EnviarAlertasMyo" value="false"/>

    <!-- Alertas Preventivas -->
    <!--formato 24 hrs-->
    <add key="hrsCobPrev" value="10"/>
    <add key="msCobPrev" value="0"/>
    <add key="ObtenerDatosCobranzaPreventiva" value="false"/>
    <add key="ProcesarCarteraPreventiva" value="false"/>
    <add key="EnviarAlertasPreventivas" value="false"/>

    <!--CorreosSMTP-->
    <add key="CorreoHost" value="10.211.64.74" />
    <add key="CorreoPuerto" value="252" />
    <add key="CorreoSsl" value="false" />
    <!--CorreosSMTP-->

    <!--CorreoResumenRegistroWs-->
    <add key="CorreoResumenRegistroWs" value="ihernandezm@infonavit.org.mx"/>
    <!--CorreoResumenRegistroWs-->
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <!--Conecciones para Produccion-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasCobranza;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=ppTareas;MultipleActiveResultSets=True;Max Pool Size=300;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranza;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=ppTareas;Max Pool Size=300;" providerName="System.Data.SqlClient" />-->

    <!--Conecciones para SitioTest 220-->
    <add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasCobranzaTest;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=TareasLondon;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranzaTest;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=TareasLondon;" providerName="System.Data.SqlClient"/>

    <!--Conecciones para SitioCapacitacion 220-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasCobranzaCapacitacion;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=ppPortalCapacitacion;Max Pool Size=300;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasCobranzaCapacitacion;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=ppPortalCapacitacion;Max Pool Size=300" providerName="System.Data.SqlClient" />-->

    <!--Originacion-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasOriginacionMovil;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=TareasOriginacion;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasOriginacionMovil;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=TareasOriginacion;" providerName="System.Data.SqlClient" />-->

    <!--Sira-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasSIRA;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=TareasSira;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasSIRA;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=TareasSira;" providerName="System.Data.SqlClient" />-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.210.0.142;initial catalog=NotificacionesCobranza;persist security info=True;user id=testduser;password=dKPcdRDl;Application Name=ppPortalSiraTest;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=10.210.0.142;Initial Catalog=NotificacionesCobranza;Persist Security Info=True;User ID=testduser;Password=dKPcdRDl;Application Name=ppPortalSiraTest" providerName="System.Data.SqlClient" />-->

    <!--MYO-->
    <!--<add name="SistemasCobranzaEntities" connectionString="metadata=res://*/SistemasCobranza_Entities.csdl|res://*/SistemasCobranza_Entities.ssdl|res://*/SistemasCobranza_Entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.80.187;initial catalog=SistemasMYO;persist security info=True;user id=DevUser;password=Z341nao27L;Application Name=TareasMYO;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SqlDefault" connectionString="Data Source=192.168.80.187;Initial Catalog=SistemasMYO;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=TareasMYO;" providerName="System.Data.SqlClient" />-->

    <add name="BroxelSMSs" connectionString="Data Source=192.168.80.187;Initial Catalog=BroxelSMSs;Persist Security Info=True;User ID=devuser;Password=Z341nao27L;Application Name=ppTareas" providerName="System.Data.SqlClient" />
    <!--<add name="FlockMYO" connectionString="Data Source=192.168.75.23;Initial Catalog=MYO;Persist Security Info=True;User ID=pablo.jaimes;Password=Br0x3l6789;" providerName="System.Data.SqlClient" />-->
    <add name="FlockMYO" connectionString="Data Source=192.168.75.23;Initial Catalog=MYO;Persist Security Info=True;User ID=pablo.jaimes;Password=Br0x3l6789;" providerName="System.Data.SqlClient"/>
    <add name="CirCred" connectionString="Data Source=192.168.75.23;Initial Catalog=BroxelPruebas;Persist Security Info=True;User ID=interfaces;Password=Qp3t4M4dr;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSCSIBMSoapBinding" />
        <binding name="BasicHttpBinding_IBackEnd" />
        <binding name="BasicHttpBinding_IBackEnd1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpEndpoint" />
        <binding name="WSSeguridadMejoravitAppSoap" >
          <security mode="Transport" />
        </binding>
        <binding name="WSSeguridadMejoravitAppSoap1" />
        <binding name="WSConsultaEstatusMejoravitAppSoap" >
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="WSConsultaEstatusMejoravitAppSoap1" />
        <binding name="WSRegistraSolicitudCreditoMejoravitAppSoap" >
          <security mode="TransportCredentialOnly" />
        </binding>
        <binding name="WSRegistraSolicitudCreditoMejoravitAppSoap1"  />
        <binding name="BasicHttpBinding_IReconocimientoCaracteres" />
        <binding name="Service1Soap"/>
        <binding name="BasicHttpBinding_ICreditos"/>
        <binding name="BasicHttpBinding_INotificacionesWebServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://201.144.89.12/CSIBMWS/services/WSCSIBM" binding="basicHttpBinding" bindingConfiguration="WSCSIBMSoapBinding" contract="wsGestiones.WSCSIBM" name="WSCSIBM" />
      <endpoint address="http://cloudnubiik.cloudapp.net:8081/BackEnd.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd" contract="WebServiceFmk.IBackEnd" name="BasicHttpBinding_IBackEnd" />
      <endpoint address="https://cloudnubiik.cloudapp.net:8084/BackEnd.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd1" contract="WebServiceFmk.IBackEnd" name="BasicHttpBinding_IBackEnd1" />
      <endpoint address="http://10.178.130.16:9008/ServicioSMS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint" contract="wsSms.IServicioSMS" name="BasicHttpEndpoint" />
      <endpoint address="http://servicio-ocr.broxel.com/ServicioReconocimientoCaracteres.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReconocimientoCaracteres" contract="ServicioOCR.IReconocimientoCaracteres" name="BasicHttpBinding_IReconocimientoCaracteres" />
      <endpoint address="http://www.promoespacio.com.mx/wsSira/SolicitudSira.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="WebServicePe.Service1Soap" name="Service1Soap" />

      <!--Servicio para consultar el estatus del crédito del cliente-->

      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/QA11/WSSeguridadMejoravitApp.asmx" binding="basicHttpBinding" bindingConfiguration="WSSeguridadMejoravitAppSoap" contract="SeguridadMejoravitApp.WSSeguridadMejoravitAppSoap" name="WSSeguridadMejoravitAppSoap" />

      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/WSConsultaEstatusMejoravitApp11.asmx" binding="basicHttpBinding" bindingConfiguration="WSConsultaEstatusMejoravitAppSoap" contract="ConsultaEstatusMejoravitApp11.WSConsultaEstatusMejoravitAppSoap" name="WSConsultaEstatusMejoravitAppSoap" />

      <endpoint address="https://201.134.132.139:7443/UltMejoravit/webservices/WSRegistraSolicitudCreditoMejoravitApp11.asmx" binding="basicHttpBinding" bindingConfiguration="WSRegistraSolicitudCreditoMejoravitAppSoap" contract="RegistraSolicitudCreditoMejoravitApp11.WSRegistraSolicitudCreditoMejoravitAppSoap" name="WSRegistraSolicitudCreditoMejoravitAppSoap" />

      <!-- Servicios de Myo -->
      <endpoint address="http://192.168.75.23:8889/wsCreditos/Creditos.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditos" contract="WSCreditosMyo.ICreditos" name="BasicHttpBinding_ICreditos"/>

      <endpoint address="http://localhost:49857/NotificacionesWebServices.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacionesWebServices" contract="NotificacionesWebServices.INotificacionesWebServices" name="BasicHttpBinding_INotificacionesWebServices" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textListener" type="PubliPayments.Utiles.MaxTextWriteTraceListener,PubliPayments.Utiles" initializeData="C:\Transfer\catarsys\ppTareasTest.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>