@model IEnumerable<PubliPayments.Entidades.Creditos>

<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>



<br/>
<div id="ComerciosTb" style="width: 100%" align="center"> @Html.Action("TablaComercios"); </div>