<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Computadora personal-->
    <!--<add name="UniversidadBDEntities" connectionString="metadata=res://*/UnivesidadBDModel.csdl|res://*/UnivesidadBDModel.ssdl|res://*/UnivesidadBDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Starkiller\MSSQLSERVER2014;initial catalog=Universidad;persist security info=True;user id=sa;password=A@141516182235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnivesidadDBTSQL" connectionString="data source=Starkiller\MSSQLSERVER2014;initial catalog=Universidad;persist security info=True;user id=sa;password=A@141516182235"/>-->
    
    <!--Computadora Trabajo-->
    <add name="UniversidadBDEntities" connectionString="metadata=res://*/UnivesidadBDModel.csdl|res://*/UnivesidadBDModel.ssdl|res://*/UnivesidadBDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DR5Q402\MSSQLSERVER2014;initial catalog=Universidad;persist security info=True;user id=sa;password=A@141516182235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UnivesidadDBTSQL" connectionString="data source=DR5Q402\MSSQLSERVER2014;initial catalog=Universidad;persist security info=True;user id=sa;password=A@141516182235"/>
  </connectionStrings>
  
</configuration>