<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PAEM_DEV;persist security info=True;user id=sa;password=HUMBERT.2503;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.141;initial catalog=PAEM_DEV;user id=paem;password=paem@fide;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.27;initial catalog=PAEEEM_DESARROLLO_05;user id=netropology;password=N3tr0p0l0gy;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3" />
  </startup>
</configuration>