<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="UniversidadBDEntities" connectionString="metadata=res://*/UnivesidadBDModel.csdl|res://*/UnivesidadBDModel.ssdl|res://*/UnivesidadBDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Universidad;persist security info=True;user id=sa;password=A@141516182235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <!--<connectionStrings>
    <add name="UniversidadBDEntities" connectionString="metadata=res://*/UnivesidadBDModel.csdl|res://*/UnivesidadBDModel.ssdl|res://*/UnivesidadBDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DR5Q402\MSSQLSERVER2014;initial catalog=Universidad;persist security info=True;user id=sa;password=A@141516182235;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
</configuration>