<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSCSIBMSoapBinding" />
        <binding name="BasicHttpBinding_IBackEnd" />
        <binding name="BasicHttpBinding_IBackEnd1">
          <security mode="Transport" />
        </binding>
        <binding name="Service1Soap" />
        <binding name="BasicHttpBinding_IReconocimientoCaracteres" />
        <binding name="BasicHttpEndpoint" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://201.144.89.12/CSIBMWS/services/WSCSIBM" binding="basicHttpBinding" bindingConfiguration="WSCSIBMSoapBinding" contract="wsGestiones.WSCSIBM" name="WSCSIBM" />
      <endpoint address="http://cloudnubiik.cloudapp.net:8081/BackEnd.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd" contract="WebServiceFmk.IBackEnd" name="BasicHttpBinding_IBackEnd" />
      <endpoint address="https://cloudnubiik.cloudapp.net:8084/BackEnd.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackEnd1" contract="WebServiceFmk.IBackEnd" name="BasicHttpBinding_IBackEnd1" />
      <endpoint address="http://www.promoespacio.com.mx/wsSira/SolicitudSira.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="WebServicePe.Service1Soap" name="Service1Soap" />
      <endpoint address="http://localhost:15025/ServicioReconocimientoCaracteres.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReconocimientoCaracteres" contract="ServicioOCR.IReconocimientoCaracteres" name="BasicHttpBinding_IReconocimientoCaracteres" />
      <endpoint address="http://localhost:9008/ServicioSMS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint" contract="wsSms.IServicioSMS" name="BasicHttpEndpoint" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
