<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=king;Persist Security Info=True;User ID=sa;Password=3ntryt3c*;Initial Catalog=eClockWeb" providerName="System.Data.OleDb"/>-->
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=eclockservices.entrytec.com.mx;Persist Security Info=True;User ID=sa;Password=1n4csys*;Initial Catalog=eClockTecnos" providerName="System.Data.OleDb"/>-->
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=190.190.1.113;Persist Security Info=True;User ID=admin;Password=4dm1n;Initial Catalog=eclockweb" providerName="System.Data.OleDb"/>-->
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=setup.entrytec.com.mx;Persist Security Info=True;User ID=sa;Password=1n4csyst3st/-;Initial Catalog=Tecnos100114" providerName="System.Data.OleDb"/>-->
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=entpc12;Persist Security Info=True;User ID=sa;Password=entrytec;Initial Catalog=eClockTecnos050214" providerName="System.Data.OleDb"/>-->
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=localhost;Persist Security Info=True;User ID=sa;Password=3ntryt3c*;Initial Catalog=eClockTecnos050214" providerName="System.Data.OleDb"/>-->
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=Starkiller\MSSQLSERVER2014;Persist Security Info=True;User ID=sa;Password=A@141516182235;Initial Catalog=eClockTecnos" providerName="System.Data.OleDb"/>
    <!--<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=entrytec.com.mx;Persist Security Info=True;User ID=sa;Password=1n4csyspr0d/-;Initial Catalog=Panalpina" providerName="System.Data.OleDb"/>-->
  </connectionStrings>
  <system.web>
    <authentication mode="None">
      <forms cookieless="UseCookies"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:7532/S_Report.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S_Report" contract="ES_Report.S_Report" name="BasicHttpBinding_S_Report"/>
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service behaviorConfiguration="AuthenticationServiceTypeBehaviors" name="System.Web.ApplicationServices.AuthenticationService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" bindingNamespace="http://asp.net/ApplicationServices/v200" contract="System.Web.ApplicationServices.AuthenticationService"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Sesion">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Sesion"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Prueba">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Prueba"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Usuarios">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Usuarios"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Restricciones">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Restricciones"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Asistencias">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Asistencias"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Turnos">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Turnos"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Terminales">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Terminales"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_TipoIncidencias">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_TipoIncidencias"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Perfiles">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Perfiles"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_ConfigUsuario">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_ConfigUsuario"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Suscripciones">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Suscripciones"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Config">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Config"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Incidencias">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Incidencias"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Personas">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Personas"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Accesos">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Accesos"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Localizaciones">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Localizaciones"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_eCheck">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_eCheck"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Campos">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Campos"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Mails">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Mails"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Publicidad">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Publicidad"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Actividades">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Actividades"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Tramites">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Tramites"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Reportes">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Reportes"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MiServicioBehaviors" name="S_Nominas">
        <endpoint binding="basicHttpBinding" bindingConfiguration="http" contract="S_Nominas"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="http" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
        <binding name="BasicHttpBinding_S_Report" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="S_SesionAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_PruebaAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_UsuariosAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_RestriccionesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_AsistenciasAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_TurnosAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_TerminalesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_TipoIncidenciasAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_PerfilesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_ConfigUsuarioAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_ConfigAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_IncidenciasAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_PersonasAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_eCheckAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_CamposAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_MailsAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_PublicidadAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_ActividadesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_TramitesAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_ReportAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="S_NominasAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthenticationServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="MiServicioBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>