/****** Script for SelectTopNRows command from SSMS  ******/
--select * from CRE_FOTOS where No_Credito = 'PAEEEMDM25C18038' 
--and idTipoFoto = 2

--SELECT *  FROM CAT_TIPO_FOTO
  
--  SELECT * FROM K_CREDITO_SUSTITUCION
  
  --Baja Eficiencia
  SELECT 
  --*
  EBA.NO_CREDITO, EBA.GRUPO,TEC.DX_NOMBRE_GENERAL,EBA.DX_MODELO_PRODUCTO,EBA.CAPACIDADSISTEMA,EBA.UNIDAD,EBA.NO_UNIDADES,
  CRES.Dx_Marca,CRES.dx_Modelo_Producto,CRES.Dx_Color,CRES.Dx_Antiguedad,CRES.Id_Folio,CRES.Id_Pre_Folio,/*Fecha de ingreso*/CRES.Id_Centro_Disp,--1 CAyD Comercial
  CRES.Fg_Tipo_Centro_Disp,/*zona y region*/ FOTO.FOTO

  FROM CRE_CREDITO_EQUIPOS_BAJA  AS EBA INNER JOIN CAT_TECNOLOGIA AS TEC ON EBA.CVE_TECNOLOGIA = TEC.CVE_TECNOLOGIA 
  INNER JOIN K_CREDITO_SUSTITUCION AS CRES ON EBA.NO_CREDITO = CRES.NO_CREDITO 
  INNER JOIN CRE_FOTOS AS FOTO ON FOTO.NO_CREDITO = CRES.NO_CREDITO AND FOTO.IDTIPOFOTO = 2
  WHERE EBA.NO_CREDITO = 'PAEEEMDB03A18053'
  
  --Alta eficiencia
  SELECT 
  CRE.NO_CREDITO, PRO.Grupo, TEC.DX_NOMBRE_GENERAL,/*Fabricante,*/CM.DX_Marca, CPRO.DX_Modelo_Producto, PRO.No_Cantidad, PPRO.MT_PRECIO_UNITARIO,
  PRO.MT_PRECIO_UNITARIO_SIN_IVA * PRO.NO_CANTIDAD AS IMPORTE_SIN_IVA, pro.mt_gastos_instalacion_mano_obra, /*COSTO ACOPIO Y DESTRUCCION*/
  PRO.INCENTIVO /*tarifa origen*/ /*tarifa futura*/ , FT.FOTO
   FROM CRE_CREDITO AS CRE INNER JOIN K_CREDITO_PRODUCTO AS PRO ON
  CRE.NO_CREDITO = PRO.NO_CREDITO INNER JOIN K_PROVEEDOR_PRODUCTO AS PPRO ON
  CRE.ID_PROVEEDOR = PPRO.ID_PROVEEDOR INNER JOIN CAT_PRODUCTO AS CPRO ON 
  PRO.CVE_PRODUCTO = CPRO.CVE_PRODUCTO INNER JOIN CAT_TECNOLOGIA AS TEC ON
  CPRO.CVE_TECNOLOGIA = TEC.CVE_TECNOLOGIA INNER JOIN CAT_MARCA AS CM ON
  CPRO.CVE_MARCA = CM.CVE_MARCA INNER JOIN CRE_FOTOS AS FT ON
  CRE.NO_CREDITO = FT.NO_CREDITO AND FT.IDTIPOFOTO = 3
   WHERE CPRO.CVE_PRODUCTO = PPRO.CVE_PRODUCTO
  