/****** Script for SelectTopNRows command from SSMS  ******/
SELECT no_credito, Dx_Domicilio_Fisc_Colonia 
  FROM [PAEEEM_PROD].[dbo].[K_CREDITO] where No_Credito = 'PAEEEMDD11H00077'
  
  /*oscar.orduna@gmail.com*/