@{
    ViewBag.Title = "Cambiar contraseña";
}

<h2>Cambiar contraseña</h2>
<p>
    La contraseña se ha cambiado.
</p>

<ul data-role="listview" data-inset="true">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
</ul>