@using TutorialMVC.Models;
@model Employee
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deparment list</h2>

<br />
<br />

<div class="list-group">
    <h4 class="list-group-item-heading"> @Model.Name</h4>
    <p class="list-group-item-text">  @Model.Gender</p>
    <p class="list-group-item-text">  @Model.City</p>
</div>

@*@Html.ActionLink("Regresar", "ListaEmpleados", new { idDepartamento = Model.IdDeparment })*@