body {
    width: 90%;
    margin: auto;
}

#Header {
    margin: auto;
    height: 150px;
    text-align: center;
    background-color: royalblue;
    color: white;
    border: 1px  silver;
    -webkit-box-shadow: 0px 0px 10px #000000;
    -ms-box-shadow: 0px 0px 10px #000000;
    box-shadow: 0px 0px 10px #000000;
}

#Title {
    height: 150px;
    margin: auto;
    width: 100%;
}

#HorizontalBar {
    margin: auto;
    text-align: center;
    width: 80%;
    color: black;
    font-size: 35px;
    height: 40px;
    background-color: silver;
    -ms-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: 0px 0px 10px #000000 inset;
    -ms-box-shadow: 0px 0px 10px #000000 inset;
    box-shadow: 0px 0px 10px #000000 inset;
}
#Main {
    height: 100%;
    margin: auto;
}

#ColummnLeft,#ColummnCenter{ height: 100%;
}

#ColummnLeft {
    float: left;
    width: 250px;
}
 
#ColummnCenter {
}

#Main {
    margin: auto;
}

#AreaTrabajo {
    width: 49%;
    float: left;
    text-align: left;
}
#CorreoElectronico {
    text-align: right;
    width: 50%;
    float: right;
}
#Copyright {
    margin: auto;
    width: 100%;
}