<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="DistribuidorFIDE" value="299"/>
    <add key="BdPaeeemProd" value="paeeem_produccion19_06"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=PAEEEM_DESA;persist security info=True;user id=sa;password=HUMBERT.2503;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.27;initial catalog=Prueba_Matriz_Sucursal;user id=netropology;password=N3tr0p0l0gy;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--<add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.33;initial catalog=New_Paeeem_Produccion;user id=Paeeem_Prod;password=Pa333mProd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="es-MX" culture="es-MX"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="3000"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>