@model ExamenEdenred.Entities.Entities.UsUsuarios
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        @if (Model != null)
        {
            <h1>@Model.Usuario;</h1>
        }
    </body>
</html>


