@using PubliPayments.Entidades
@model List<IndicadorDashboard>

<table style="color:#666666;width:100%; border: 1px solid #D0CECE" class="gridDashBoardSinLineas_Izquierda">
    @foreach (IndicadorDashboard item in Model)
    {
        <tr style="height: 40px;">
            <td style="border: 1px solid #D0CECE;width: 60%; font-weight: normal; color: #000000; text-align: left; font-size: 13px;">
                <label >@item.FcDescripcion</label>
            </td>
            <td style="border: 1px solid #D0CECE;width: 20%; font-weight: bold; color: #000000; text-align: center;">
                <label >@item.FiValue</label>
            </td>
            <td style="border: 1px solid #D0CECE;width: 20%; font-weight: bold; color: #000000; text-align: center;">
                <label >@item.FiPorcentaje %</label>
            </td>
        </tr>
    }
</table>





