<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="appNombre00" value="Tareas"/>
    <add key="appArchivo00" value="c:\tarea\tareas.exe"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textListener" type="PubliPayments.Utiles.MaxTextWriteTraceListener,PubliPayments.Utiles" initializeData="C:\Transfer\catarsys\DaemonPubliPayments.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>