<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BroxelEntities" connectionString="metadata=res://*/BroxelModel.csdl|res://*/BroxelModel.ssdl|res://*/BroxelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-STARKILLER\MSSQLSERVER2014;initial catalog=Broxel;persist security info=True;user id=sa;password=A@141516182235;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>