.igcv_CaribbeanControl
{
	border:solid 1px #052684;
}


.igcv_CaribbeanCaptionHeader
{
	background-color:#A7D5E7;
	font-weight:bold;
	font-size:small;
	padding-top:5px;
	padding-bottom:5px;
	color:#052684;
	text-align:center;
	vertical-align:top;
}


.igcv_CaribbeanDayHeader
{
	background-color:White;
	background-repeat:repeat-x;
	font-size:10px;
	border-bottom-width:1px;
	border-bottom-style:solid;
	height: 16px;
	color:#052684;
}


.igcv_CaribbeanDay
{
	background-color:White;
	font-size:11px;
	border-width:0px;
	margin-top:3px;
	padding:2px 6px 3px 5px;
	cursor:hand;
	text-align:center;
}


.igcv_CaribbeanFooter
{
	background-color:#EEEEEE;
	font-size:8pt;
	padding:3px;
	white-space: nowrap;
	cursor:pointer;
	text-align:left;
}


.igcv_CaribbeanDropDown
{
	font-size:8pt;
}


.igcv_CaribbeanOtherMonthDay
{
	background-color:White;
	color:#B3B3B3;
}


.igcv_CaribbeanWeekendDay
{
	background-color:#FAFAFA;
}


.igcv_CaribbeanNavigationButton
{
	background-color:#A7D5E7;
	padding-right:3px;
	padding-left:3px;
	cursor:pointer;
}


.igcv_CaribbeanTodayDay
{
	background-repeat:no-repeat;
	background-image: url(images/button_day.gif);
	color:White;
}


.igcv_CaribbeanActivityDay
{
}


.igcv_CaribbeanActiveDay
{
	background-repeat:no-repeat;
	background-image: url(images/button_day_active.gif);
	border-width:1px;
	border-color:#216CA3;
	color:White;
}


