.ighg_CaribbeanExpandButton
{
	cursor: pointer;
	cursor: hand;
	padding-left: 5px;
}

TBODY>TR>TD.ighg_CaribbeanExpandableArea
{
	padding: 0px 0px 0px 25px;
	background-color: #F5F5F5;
	background-image: none;
}

.ighg_CaribbeanExpansionColumn
{
	width: 25px;
	padding: 0 !important;
}

.ighg_CaribbeanExpansionColumnHeader
{
	width: 25px;
}

.ighg_CaribbeanExpansionColumnFooter
{
	width: 25px;
}

/* START -- GroupBy CSS Classes */
.ighg_CaribbeanGroupIndentHeaderCell
{
}

TBODY>TR.ighg_CaribbeanGroupedRow>TD
{
	background:#FFFFFF url(images/ighg_GroupedRowBg.png) bottom repeat-x;
}


TBODY>TR>TD.ighg_CaribbeanGroupIndentCell
{
	border-right: 1px solid #DCDCDC;
}

.ighg_CaribbeanGroupArea
{
	background-color: #F3F4F3;
	border-bottom: 1px solid #001060;
	padding: 10px;
}

.ighg_CaribbeanGroupedColumn
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnBg.png) repeat-x;
	height: 16px;
	padding: 3px 5px 0px 10px;
	color: #FFFFFF;
}
.ighg_CaribbeanGroupedColumnRightEdgeEnd
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeEndBg.gif) no-repeat;		
	width: 10px;
	height: 16px;
	padding-top: 3px;
}
.ighg_CaribbeanGroupedColumnRightEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnRightEdgeBg.png) no-repeat;
	width: 10px;
	height: 16px;
	padding-top: 3px;
}

.ighg_CaribbeanGroupedColumnLeftEdge
{
	display: inline-block;
	background: url(images/ighg_GroupedColumnLeftEdgeBg.gif) no-repeat;
	width: 9px;
	height: 16px;
	padding-top: 3px;
}

.ighg_CaribbeanGroupedBand
{
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-left: 1px solid #4189CB;
	height: 16px;
	padding: 3px 0px 0px 10px;
}
.ighg_CaribbeanGroupedBandRightEdge
{		
	display: inline-block;
	background: url(images/ighg_GroupedBandBg.png) repeat-x;
	border-right: 1px solid #4189CB;
	width: 10px;
	height: 16px;
	padding: 3px 0px 0px 0px;
}

.ighg_CaribbeanColumnGroupingTopDragIndicator
{
	background-image:url(images/ighg_TopDragIndicator.gif);
	background-repeat: no-repeat;
	width:5px; 
	height:3px;
	z-index: 100;
}

.ighg_CaribbeanColumnGroupingMiddleDragIndicator
{
      background-image:url(images/ighg_MiddleDragIndicator.gif);
      background-repeat: repeat-y;
      background-position: center;
      width:3px; 
}

.ighg_CaribbeanColumnGroupingBottomDragIndicator
{
      background-image:url(images/ighg_BottomDragIndicator.gif);
      background-repeat: no-repeat;
      width:5px; 
      height:3px;
      position: absolute;
      z-index: 100;   
}
/* END -- GroupBy CSS Classes */

@media print{.ighg_CaribbeanControl, .ighg_CaribbeanControl div{width:auto !important; height:auto !important; overflow: visible !important;}}