.igsli_CaribbeanControl
{
	overflow:hidden;
	border: none;
	background: transparent;
}
.igsli_CaribbeanTicksHolderT
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-bottom:0px solid blue;
	margin-bottom:2px;
}
.igsli_CaribbeanTicksHolderB
{
	position:relative;
	width:100%;
	font-size:1px;
	height:5px;
	border-top:0px solid blue;
	margin-top:2px;
}
.igsli_CaribbeanTickMinorT
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #3698D4;
	margin-top:2px;
	height:3px;
}
.igsli_CaribbeanTickMajorT
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #3698D4;
	height:5px;
}
.igsli_CaribbeanTickLastT
{
	width:1px;
	margin-left:-1px;
}
.igsli_CaribbeanTickMinorB
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #3698D4;
	height:3px;
}
.igsli_CaribbeanTickMajorB
{
	position:absolute;
	font-size:1px;
	border-left:1px solid #3698D4;
	height:5px;
}
.igsli_CaribbeanTickLastB
{
	width:1px;
	margin-left:-1px;
}
.igsli_CaribbeanMarginH
{
	width:10px;
	font-size:1px;
	height:100%;
}
.igsli_CaribbeanLabelsHolderH
{
	position:relative;
	width:100%;
	font-family:verdana;
	font-size:10px;
	color: #666666;
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_CaribbeanLabelEdgeH
{
	overflow:hidden;
	text-align:center;
	width:26px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
	color: #808080;
}
.igsli_CaribbeanLabelT
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px;
	width:46px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
}
.igsli_CaribbeanLabelB 
{
	position:absolute;
	overflow:hidden;
	text-align:center;
	margin-left:-23px;
	width:46px;
	height:14px;
	white-space:nowrap;
	font-family:verdana;
	font-size:10px;
}
.igsli_CaribbeanTrackH
{
	position:relative;
	text-align:left;
	margin-left:-1px;
	border:0px solid #E6EDF7;
	background:#E6EDF7;
	width:100%;
	font-size:1px;
	height:5px;
		filter:alpha(opacity:80);
	opacity:0.8;
}
.igsli_CaribbeanTrackValueH
{
	position:absolute;
	background:#3DB9F4;
	height:5px;
}
.igsli_CaribbeanTrackValue2H
{
	position:absolute;
	background:#226DA7;
	height:5px;
}
.igsli_CaribbeanButton
{
	margin:2px;
	cursor:pointer;
}
.igsli_CaribbeanThumbsHolderH
{
	position:relative;
	z-index:1;
	font-size:1px;
	width:100%;
}
.igsli_CaribbeanThumbH
{
	position:absolute;
	margin-left:-6px;
	margin-top:-14px;
	cursor: hand;
	z-index:2;
}
.igsli_CaribbeanValueLabel
{
	white-space:nowrap;
	overflow:hidden;
	font-family:verdana;
	font-size:10px;
	text-align:center;
	width:46px;
	color: #808080;
}
.igsli_CaribbeanValueLabelFloatT
{
	position:absolute;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	overflow:visible;
	width: auto;
	min-width: 28px;
	margin-left:-23px;
	margin-top:-31px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}
.igsli_CaribbeanValueLabelFloatB
{
	position:absolute;
	overflow:visible;
	width: auto;
	min-width: 28px;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	margin-left:-23px;
	margin-top:10px;
	color: #808080;
	padding-left:1px;
	padding-right: 1px;
}

.igsli_CaribbeanTicksHolderL
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-right:0px solid blue;
	text-align:left;
	margin-right:2px;
}
.igsli_CaribbeanTicksHolderR
{
	position:relative;
	height:100%;
	font-size:1px;
	width:5px;
	border-left:0px solid blue;
	text-align:left;
	margin-left:2px;
}
.igsli_CaribbeanTickMinorL
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #3698D4;
	margin-left:2px;
	width:3px;
}
.igsli_CaribbeanTickMajorL
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #3698D4;
	width:5px;
}
.igsli_CaribbeanTickLastL
{
	height:1px;
	margin-top:-1px;
}
.igsli_CaribbeanTickMinorR
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #3698D4;
	width:3px;
}
.igsli_CaribbeanTickMajorR
{
	position:absolute;
	font-size:1px;
	border-top:1px solid #3698D4;
	width:5px;
}
.igsli_CaribbeanTickLastR
{
	height:1px;
	margin-top:-1px;
}
.igsli_CaribbeanMarginV
{
	height:10px;
	font-size:1px;
}
/* it should be after margin */
/* if labels are on edges, then position and margin are disabled by inline style */
.igsli_CaribbeanLabelEdgeV
{
	overflow:hidden;
	white-space:nowrap;
	width:auto;
	height:14px;
	font-family:verdana;
	font-size:10px;
	text-align:center;
		color: #808080;
}
.igsli_CaribbeanLabelL
{
	position:absolute;
	overflow:hidden;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	margin-left: -25px;
	font-family:verdana;
	font-size:10px;
	text-align:right;
	color: #808080;
}
.igsli_CaribbeanLabelR
{
	position:absolute;
	overflow:visible;
	white-space:nowrap;
	width:40px;
	height:14px;
	margin-top:-7px;
	font-family:verdana;
	font-size:10px;
		color: #808080;
}
.igsli_CaribbeanLabelsHolderV
{
	position:relative;
	text-align:left;
	height:100%;
	font-family:verdana;
	font-size:10px;
	width:20px;
}
.igsli_CaribbeanTrackV
{
	position:relative;
	text-align:left;
	margin-top:-1px;
	border:0px solid blue;
	background:#CBCBCB;
	height:100%;
	font-size:1px;
	width:5px;
}
.igsli_CaribbeanTrackValueV
{
	position:absolute;
	background:#3DB9F4;
	width:100%;
}
.igsli_CaribbeanTrackValue2V
{
	position:absolute;
	background:#006699;
	width:100%;
}
.igsli_CaribbeanThumbsHolderV
{
	position:relative;
	z-index:1;
	font-size:1px;
	height:100%;
}
.igsli_CaribbeanThumbV
{
	position:absolute;
	margin-left:-14px;
	margin-top:-6px;
	z-index:2;
}
.igsli_CaribbeanValueLabelFloatL
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:right;
	margin-top:-7px;	
	margin-left:-46px;
	width:auto;
	min-width: 28px;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}
.igsli_CaribbeanValueLabelFloatR
{
	position:absolute;
	overflow:visible;
	background:white;
	border:1px solid #A9A9A9;
	filter:alpha(opacity:0);
	opacity:0;
	height:13px;
	text-align:left;
	margin-left:8px;
	margin-top:-7px;
	min-width: 28px;
	width: auto;
	color: #808080;
	padding-left: 1px;
	padding-right: 1px;
}
.igsli_CaribbeanValueLabelFloatHover
{
	filter:alpha(opacity:100);
	opacity:1;
}
/* applied to control when it has focus and when rounded corners are disabled */
.igsli_CaribbeanFocus
{
}
/* applied to control when mouse moved over it and when rounded corners are disabled */
.igsli_CaribbeanHover
{
}
/* applied to control when it is disabled and when rounded corners are disabled */
.igsli_CaribbeanDisabled
{
	background:#C0C0C0;
}
/* applied to track bar when control focus and when rounded corners of track are disabled */
.igsli_CaribbeanTrackFocus
{
	filter:alpha(opacity:100);
	opacity:1;
}
/* applied to track bar when mouse is moved over control and when rounded corners of track are disabled */
.igsli_CaribbeanTrackHover
{
	filter:alpha(opacity:100);
	opacity:1;
}
/* applied to track bar when control is disabled and when rounded corners of track are disabled */
.igsli_CaribbeanTrackDisabled
{
	background:#A0A0A0;
}
/* applied to left edge of horizontal track bar */
.igsli_CaribbeanTrackEdgeL
{
	position:absolute;
	width:6px;
	height:100%;
	top:0px;
	left:-5px;
}
/* applied to right edge of horizontal track bar */
.igsli_CaribbeanTrackEdgeR
{
	position:absolute;
	width:7px;
	height:100%;
	top:0px;
	left:100%; 
}
/* applied to top edge of vertical track bar */
.igsli_CaribbeanTrackEdgeT
{
	position:absolute;
	width:100%;
	height:0px;
	top:-0px;
	left:0px;
	background:url(none);
}
/* applied to left edge of vertical track bar */
.igsli_CaribbeanTrackEdgeB
{
	position:absolute;
	width:100%;
	height:0px;
	top:100%;
	left:0px;
	background:url(none) left bottom;
}
/* applied to left edge of horizontal track bar when TrackValue is enabled */
.igsli_CaribbeanTrackValueEdgeL
{
	background:url(none);
}
/* applied to bottom edge of vertical track bar when TrackValue is enabled */
.igsli_CaribbeanTrackValueEdgeB
{
	background:url(none);
}
