.igtab_CaribbeanTHControl
{
	overflow:hidden;
}
.igtab_CaribbeanTHContentHolder
{
	border:1px solid #011161;
	border-top-width:0px;
	height:80%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_CaribbeanTHContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_CaribbeanTHHolderNoScroll
{
	display:block;
	position:relative;
	width:100%;
}
.igtab_CaribbeanTHHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x bottom left;
	position:relative;
	display:block;
	height:23px;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_CaribbeanTHRoundedForHolder
{
	background:none;
	margin-left:5px;
	height:22px;
}
.igtab_CaribbeanTHHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_CaribbeanTHHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_CaribbeanTHScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	display:block;
	margin-left:-45px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_CaribbeanTHRoundedForScroll
{
	margin-left:-66px;
}
.igtab_CaribbeanTHImage
{
	vertical-align:middle;
}
.igtab_CaribbeanTHClose
{
	position:absolute;
	left:100%;
	margin-left:-20px;
	margin-top:6px;
	top:0px;
	cursor: pointer;
}
.igtab_CaribbeanTHScrollButton
{
	padding:1px;
}
.igtab_CaribbeanTHText
{
	vertical-align:middle;
	padding:0px 1px 0px 1px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:22px;
	cursor:default;
}
.igtab_CaribbeanTHCenter
{
	padding:0px 1px 0px 1px;
	display:block;
	position:relative;
	background:url(./images/igtab_THCenter.gif) repeat-x;
	background-color:#d1ebf5;
	white-space:nowrap;
	text-align:center;
	font:22px sans-serif;
	line-height:22px;
	overflow:hidden;
}
.igtab_CaribbeanTHCloseSize
{
	padding-right:20px;
}
.igtab_CaribbeanTHTail
{
	background: transparent url(./images/igtab_THRight.gif) no-repeat;
	background-position: top right;
	padding-left:0px;
	padding-right:7px;
	display:block;
	margin: 0px;
	height:100%;
}
.igtab_CaribbeanTHTab
{
	display:inline;
	position:relative;
	padding-left:7px;
	float:left;
	background: transparent url(./images/igtab_THLeft.gif) top left no-repeat;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
	border-bottom:1px solid #011161;
	height:22px;
}
.igtab_CaribbeanTHOverlap
{
	margin-left:-5px;
}
.igtab_CaribbeanTHRoundedLastTab
{
	margin-right:10px;
}
.igtab_CaribbeanTHTextHov
{
	color: #FFFFFF;
}
.igtab_CaribbeanTHCenterHov
{
	background-position: 0px -50px;
	background-color: #193e7d;
}
.igtab_CaribbeanTHTailHov
{
	background: transparent url(./images/igtab_THRightHov.gif) no-repeat;
	background-position: top right;
}
.igtab_CaribbeanTHTabHov
{
	background-position: 0px -50px;
}
.igtab_CaribbeanTHTextSel
{
}
.igtab_CaribbeanTHCenterSel
{
	background-position: 0px -100px;
	background-color:#2255ab;
}
.igtab_CaribbeanTHTailSel
{
	background: transparent url(./images/igtab_THRightSel.gif) no-repeat;
	background-position: top right;
}
.igtab_CaribbeanTHTabSel
{
	background-position: 0px -100px;
}
.igtab_CaribbeanTHTextAct
{
	border:1px dotted #011161;
	padding:0px;
}
.igtab_CaribbeanTHCenterAct
{
}
.igtab_CaribbeanTHTailAct
{
}
.igtab_CaribbeanTHTabAct
{
}
.igtab_CaribbeanTHTextDis
{
	color:#AAAAAA;
}
.igtab_CaribbeanTHCenterDis
{
	background-position: 0px -150px;
	background-color:#CCCCCC;
}
.igtab_CaribbeanTHTailDis
{
	background-image:url(./images/igtab_THRightDis.gif);
}
.igtab_CaribbeanTHTabDis
{
	background-position: 0px -150px;
}
.igtab_CaribbeanTHTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_CaribbeanTHTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}

.igtab_CaribbeanTHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanTHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanTHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanTHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}









.igtab_CaribbeanTVControl
{
	overflow:hidden;
}
.igtab_CaribbeanTVContentHolder
{
	border:1px solid #011161;
	border-top-width:0px;
	height:50%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_CaribbeanTVContent
{
	height:100%;
	position:relative;
	background: #EFEFEF;
}
.igtab_CaribbeanTVHolderNoScroll
{
	display:block;
	position:relative;
	width:100%;
}
.igtab_CaribbeanTVHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x bottom left;
	position:relative;
	display:block;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_CaribbeanTVRoundedForHolder
{
	background:none;
	margin-left:5px;
}
.igtab_CaribbeanTVHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_CaribbeanTVHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_CaribbeanTVScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	top:100%;
	display:block;
	margin-left:-45px;
	margin-top:-33px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_CaribbeanTVRoundedForScroll
{
	margin-left:-66px;
}
.igtab_CaribbeanTVImage
{
	margin-left:10%;
	display:block;
}
.igtab_CaribbeanTVClose
{
	position:absolute;
	left:100%;
	top:100%;
	margin-left:-24px;
	margin-top:-14px;
	cursor: pointer;
}
.igtab_CaribbeanTVScrollButton
{
	padding:1px;
}
.igtab_CaribbeanTVText
{
	margin-top:5px;
	margin-bottom:6px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:11px;
	display:block;
	text-align:center;
	overflow:hidden;
	margin-left:5px;
	width:20px;
	cursor:default;
}
.igtab_CaribbeanTVCenter
{
	padding-top:5px;
	display:block;
	position:relative;
	overflow:hidden;
}
.igtab_CaribbeanTVCloseSize
{
	padding-bottom:14px;
}
.igtab_CaribbeanTVMirrorCenter
{
	background:url(./images/igtab_TVRight.gif) top right repeat-y;
	display:block;
	margin-top:12px;
	width:100%;
	height:100%;
}
.igtab_CaribbeanTVMirror
{
	background:url(./images/igtab_TVRightTop.gif) top right no-repeat;
	display:block;
	position:absolute;
	margin-left:8px;
	width:26px;
	height:100%;
}
.igtab_CaribbeanTVTail
{
	background:url(./images/igtab_TVLeft.gif) repeat-y;
	padding:0px;
	display:block;
	position:absolute;
	width:12px;
	margin-top:12px;
	height:100%;
}
.igtab_CaribbeanTVTab
{
	display:inline;
	position:relative;
	padding:0px;
	float:left;
	background:url(./images/igtab_TVLeftTop.gif) no-repeat;
	margin:0px;
	overflow:hidden;
	width:34px;
	border-bottom:1px solid #011161;
}
.igtab_CaribbeanTVOverlap
{
	margin-left:-7px;
}
.igtab_CaribbeanTVRoundedLastTab
{
	margin-right:10px;
}
.igtab_CaribbeanTVTextHov
{
	color: #FFFFFF;
}
.igtab_CaribbeanTVCenterHov
{
}
.igtab_CaribbeanTVMirrorCenterHov
{
	background-image:url(./images/igtab_TVRightHov.gif);
}
.igtab_CaribbeanTVMirrorHov
{
	background-image:url(./images/igtab_TVRightTopHov.gif);
}
.igtab_CaribbeanTVTailHov
{
	background-position: -50px 0px;
}
.igtab_CaribbeanTVTabHov
{
	background-position: 0px -19px;
}
.igtab_CaribbeanTVTextSel
{
	color: #FFF;
}
.igtab_CaribbeanTVCenterSel
{
}
.igtab_CaribbeanTVMirrorCenterSel
{
	background-image:url(./images/igtab_TVRightSel.gif);
	background-color:#FFFFFF;
}
.igtab_CaribbeanTVMirrorSel
{
	background-image:url(./images/igtab_TVRightTopSel.gif);
}
.igtab_CaribbeanTVTailSel
{
	background-position: -100px 0px;
}
.igtab_CaribbeanTVTabSel
{
	background-position: 0px -38px;
}
.igtab_CaribbeanTVTextAct
{
	margin-left:4px;
	border:1px dotted #011161;
}
.igtab_CaribbeanTVCenterAct
{
}
.igtab_CaribbeanTVMirrorCenterAct
{
}
.igtab_CaribbeanTVMirrorAct
{
}
.igtab_CaribbeanTVTailAct
{
}
.igtab_CaribbeanTVTabAct
{
}
.igtab_CaribbeanTVTextDis
{
	color:#AAAAAA;
}
.igtab_CaribbeanTVCenterDis
{
}
.igtab_CaribbeanTVMirrorCenterDis
{
	background-image:url(./images/igtab_TVRightDis.gif);
}
.igtab_CaribbeanTVMirrorDis
{
	background-image:url(./images/igtab_TVRightTopDis.gif);
}
.igtab_CaribbeanTVTailDis
{
	background-position: -150px 0px;
}
.igtab_CaribbeanTVTabDis
{
	background-position: 0px -57px;
}
.igtab_CaribbeanTVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_CaribbeanTVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_CaribbeanTVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanTVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanTVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanTVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}














.igtab_CaribbeanBHControl
{
	overflow:hidden;
}
.igtab_CaribbeanBHContentHolder
{
	border:1px solid #011161;
	border-bottom-width: 0px;
	height:60%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_CaribbeanBHContent
{
	height:100%;
	background: #EFEFEF;
	position:relative;
}
.igtab_CaribbeanBHHolderNoScroll
{
	display:block;
	position:relative;
	width:100%;
}
.igtab_CaribbeanBHHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x;
	position:relative;
	display:block;
	height:23px;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_CaribbeanBHRoundedForHolder
{
	background:none;
	margin-left:5px;
	height:22px;
}
.igtab_CaribbeanBHHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_CaribbeanBHHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_CaribbeanBHScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	display:block;
	margin-left:-45px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_CaribbeanBHRoundedForScroll
{
	margin-left:-66px;
}
.igtab_CaribbeanBHImage
{
	vertical-align:middle;
}
.igtab_CaribbeanBHClose
{
	position:absolute;
	left:100%;
	margin-left:-20px;
	margin-top:5px;
	top:0px;
	cursor: pointer;
}
.igtab_CaribbeanBHScrollButton
{
	padding:1px;
}
.igtab_CaribbeanBHText
{
	vertical-align:middle;
	padding:0px 1px 0px 1px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:22px;
	cursor:default;
}
.igtab_CaribbeanBHCenter
{
	padding:0px 1px 0px 1px;
	display:block;
	position:relative;
	/* do not use position-y:bottom, because of IE7 bugs: if tab has IMG, then background is shifted by 1-3 pixels down. */
	background:url(./images/igtab_BHCenter.gif) top left repeat-x;
	background-color:#d1ebf5;
	white-space:nowrap;
	text-align:center;
	font:22px sans-serif;
	line-height:22px;
	overflow:hidden;
}
.igtab_CaribbeanBHCloseSize
{
	padding-right:20px;
}
.igtab_CaribbeanBHTail
{
	background:url(./images/igtab_BHRight.gif) top right no-repeat;
	padding-left:0px;
	padding-right:7px;
	display:block;
	height:100%;
}
.igtab_CaribbeanBHTab
{
	display:inline;
	position:relative;
	padding-left:7px;
	float:left;
	background:transparent url(./images/igtab_BHLeft.gif) top left no-repeat;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
	border-top:1px solid #011161;
	height:22px;
}
.igtab_CaribbeanBHOverlap
{
	margin-left:-5px;
}
.igtab_CaribbeanBHRoundedLastTab
{
	margin-right:10px;
}
.igtab_CaribbeanBHTextHov
{
	color: #FFFFFF;
}
.igtab_CaribbeanBHCenterHov
{
	background-position: 0px -27px;
	background-color:#193e7d;
}
.igtab_CaribbeanBHTailHov
{
	background-image:url(./images/igtab_BHRightHov.gif);
}
.igtab_CaribbeanBHTabHov
{
	background-position: 0px -27px;
}
.igtab_CaribbeanBHTextSel
{
}
.igtab_CaribbeanBHCenterSel
{
	background-position: 0px -54px;
	background-color:#2255ab;
}
.igtab_CaribbeanBHTailSel
{
	background-image:url(./images/igtab_BHRightSel.gif);
}
.igtab_CaribbeanBHTabSel
{
	background-position: 0px -54px;
}
.igtab_CaribbeanBHTextAct
{
	border:1px dotted #011161;
	padding:0px;
}
.igtab_CaribbeanBHCenterAct
{
}
.igtab_CaribbeanBHTailAct
{
}
.igtab_CaribbeanBHTabAct
{
}
.igtab_CaribbeanBHTextDis
{
	color:#AAAAAA;
}
.igtab_CaribbeanBHCenterDis
{
	background-position: 0px -81px;
	background-color:#cccccc;
}
.igtab_CaribbeanBHTailDis
{
	background-image:url(./images/igtab_BHRightDis.gif);
}
.igtab_CaribbeanBHTabDis
{
	background-position: 0px -81px;
}
.igtab_CaribbeanBHTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_CaribbeanBHTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_CaribbeanBHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanBHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanBHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanBHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundFill.gif);
}















.igtab_CaribbeanBVControl
{
	overflow:hidden;
}
.igtab_CaribbeanBVContentHolder
{
	border:1px solid #011161;
	border-bottom-width: 0px;
	height:50%;
	overflow:hidden;
	position:relative;
	background:#FFFFFF;
}
.igtab_CaribbeanBVContent
{
	height:100%;
	position:relative;
	background: #EFEFEF;
}
.igtab_CaribbeanBVHolderNoScroll
{
	display:block;
	position:relative;
	width:100%;
}
.igtab_CaribbeanBVHolder
{
	background:url(./images/igtab_HolderBorder.gif) repeat-x top left;
	position:relative;
	display:block;
	width:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	white-space:nowrap;
}
.igtab_CaribbeanBVRoundedForHolder
{
	background:none;
	margin-left:5px;
}
.igtab_CaribbeanBVHolderScroll
{
	position:relative;
	width:100%;
	margin-left:-45px;
	display:block;
	overflow:hidden;
}
.igtab_CaribbeanBVHolderScrollInner
{
	position:relative;
	display:block;
	width:9999px;
	left:45px;
}
.igtab_CaribbeanBVScrollButtons
{
	font-size:1px;
	position:absolute;
	left:100%;
	display:block;
	margin-left:-45px;
	margin-top:3px;
	width:45px;
	z-index:20000;
	text-align:right;
	padding-top:2px;
}
.igtab_CaribbeanBVRoundedForScroll
{
	margin-left:-66px;
}
.igtab_CaribbeanBVImage
{
	margin-left:10%;
	display:block;
}
.igtab_CaribbeanBVClose
{
	position:absolute;
	left:100%;
	top:100%;
	margin-left:-24px;
	margin-top:-18px;
	cursor: pointer;
}
.igtab_CaribbeanBVScrollButton
{
	padding:1px;
}
.igtab_CaribbeanBVText
{
	margin-top:3px;
	margin-bottom:5px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	border:0px;
	line-height:11px;
	display:block;
	text-align:center;
	overflow:hidden;
	margin-left:5px;
	width:20px;
}
.igtab_CaribbeanBVCenter
{
	padding-bottom:5px;
	display:block;
	position:relative;
	overflow:hidden;
}
.igtab_CaribbeanBVCloseSize
{
	padding-bottom:17px;
}
.igtab_CaribbeanBVMirrorCenter
{
	background:url(./images/igtab_BVRight.gif) top right repeat-y;
	display:block;
	margin-top:-12px;
	width:100%;
	height:100%;
}
.igtab_CaribbeanBVMirror
{
	background:url(./images/igtab_BVRightBot.gif) bottom right no-repeat;
	display:block;
	position:absolute;
	margin-left:8px;
	width:26px;
	height:100%;
}
.igtab_CaribbeanBVTail
{
	background:url(./images/igtab_BVLeft.gif) repeat-y;
	padding:0px;
	display:block;
	position:absolute;
	width:12px;
	margin-top:-12px;
	height:100%;
}
.igtab_CaribbeanBVTab
{
	display:inline;
	position:relative;
	padding:0px;
	float:left;
	background:url(./images/igtab_BVLeftBot.gif) bottom left no-repeat;
	margin:0px;
	overflow:hidden;
	width:34px;
	border-top:1px solid #011161;
}
.igtab_CaribbeanBVOverlap
{
	margin-left:-7px;
}
.igtab_CaribbeanBVRoundedLastTab
{
	margin-right:10px;
}
.igtab_CaribbeanBVTextHov
{
	color: #FFFFFF;
}
.igtab_CaribbeanBVCenterHov
{
}
.igtab_CaribbeanBVMirrorCenterHov
{
	background-image:url(./images/igtab_BVRightHov.gif);
}
.igtab_CaribbeanBVMirrorHov
{
	background-image:url(./images/igtab_BVRightBotHov.gif);
}
.igtab_CaribbeanBVTailHov
{
	background-position: -50px 0px;
}
.igtab_CaribbeanBVTabHov
{
	background-image:url(./images/igtab_BVLeftBotHov.gif);
}
.igtab_CaribbeanBVTextSel
{
	color: #FFF;
}
.igtab_CaribbeanBVCenterSel
{
}
.igtab_CaribbeanBVMirrorCenterSel
{
	background-image:url(./images/igtab_BVRightSel.gif);
}
.igtab_CaribbeanBVMirrorSel
{
	background-image:url(./images/igtab_BVRightBotSel.gif);
}
.igtab_CaribbeanBVTailSel
{
	background-position: -100px 0px;
}
.igtab_CaribbeanBVTabSel
{
	background-image:url(./images/igtab_BVLeftBotSel.gif);
}
.igtab_CaribbeanBVTextAct
{
	margin: 2px 0px 0px 4px;
	border:1px dotted #011161;
}
.igtab_CaribbeanBVCenterAct
{
}
.igtab_CaribbeanBVMirrorCenterAct
{
}
.igtab_CaribbeanBVMirrorAct
{
}
.igtab_CaribbeanBVTailAct
{
}
.igtab_CaribbeanBVTabAct
{
}
.igtab_CaribbeanBVTextDis
{
	color:#AAAAAA;
}
.igtab_CaribbeanBVCenterDis
{
}
.igtab_CaribbeanBVMirrorCenterDis
{
	background-image:url(./images/igtab_BVRightDis.gif);
}
.igtab_CaribbeanBVMirrorDis
{
	background-image:url(./images/igtab_BVRightBotDis.gif);
}
.igtab_CaribbeanBVTailDis
{
	background-position: -150px 0px;
}
.igtab_CaribbeanBVTabDis
{
	background-image:url(./images/igtab_BVLeftBotDis.gif);
}
.igtab_CaribbeanBVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_CaribbeanBVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_CaribbeanBVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanBVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanBVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanBVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_BRoundFill.gif);
}








.igtab_CaribbeanLVControl
{
	overflow:hidden;
	position:relative;
}
.igtab_CaribbeanLVContentHolder
{
	background:#FFFFFF;
	border:1px solid #011161;
	height:99%;
	margin-left:24px;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_CaribbeanLVContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_CaribbeanLVHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:0px;
	top:0px;
	height:100%;
	width:25px;
}
.igtab_CaribbeanLVHolderScroll
{	
	top:-47px;
}
.igtab_CaribbeanLVHolderScrollInner
{
	top:47px;
}
.igtab_CaribbeanLVRoundedForHolder
{
	top:-6px;
}
.igtab_CaribbeanLVRoundedForHolderInner
{
	top:12px;
}
.igtab_CaribbeanLVRoundedForHolderScroll
{
	top:-53px;
}
.igtab_CaribbeanLVRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_CaribbeanLVScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;
	margin-top:-47px;
	margin-left:5px;	
	z-index:20000; 
	left:0px;
}
.igtab_CaribbeanLVRoundedForScroll
{
	margin-top:-53px;
}
.igtab_CaribbeanLVScrollButton
{
	display:block;
	margin-top:2px;
}
.igtab_CaribbeanLVClose
{
	position:absolute;
	cursor:pointer;
	margin-top:-15px;
	margin-left:6px;
}
.igtab_CaribbeanLVCloseSize 
{
	padding-bottom:14px;
}
.igtab_CaribbeanLVImage
{
	vertical-align:middle;
	position:relative;
	display:block;
}
.igtab_CaribbeanLVText
{
	vertical-align:middle;
	line-height:14px;
	font-family:Verdana;
	font-size:11px;
	display:block;
	padding-left:6px;
	position:relative;
	
	cursor:default;
}
.igtab_CaribbeanLVCenter
{
	display:block;
	position:relative;
	overflow:hidden;	
	background:url(./images/igtab_LVCenter.gif) repeat-y;
	background-color:#d1ebf5;
	padding-left:3px;
}
.igtab_CaribbeanLVTail
{
	display:block;
	background:url(./images/igtab_LVBot.gif) bottom left;
	padding-top:3px;
}
.igtab_CaribbeanLVTab
{
	background:url(./images/igtab_LVTop.gif) no-repeat top left;
	display:block;
	overflow:hidden;
	position:relative;
	padding-top:3px;
	border-right:1px solid #011161;
}
.igtab_CaribbeanLVOverlap
{
	margin-top:-5px;
}
.igtab_CaribbeanLVTextHov
{
}
.igtab_CaribbeanLVCenterHov
{
	background-image:url(./images/igtab_LVCenterHov.gif);
	background-color:#193e7d;
}
.igtab_CaribbeanLVTailHov
{
	background-image:url(./images/igtab_LVBotHov.gif);
}
.igtab_CaribbeanLVTabHov
{
	background-image:url(./images/igtab_LVTopHov.gif);
	color:#ffffff;
}
.igtab_CaribbeanLVTextSel
{
}
.igtab_CaribbeanLVCenterSel
{
	background-image:url(./images/igtab_LVCenterSel.gif);
	background-color:#2255ab;
}
.igtab_CaribbeanLVTailSel
{
	background-image:url(./images/igtab_LVBotSel.gif);
	border-right-color:#2255ab;
}
.igtab_CaribbeanLVTabSel
{
	background-image:url(./images/igtab_LVTopSel.gif);
	border-right-color:#94c8eb;
}
.igtab_CaribbeanLVTextAct
{	
	border:1px dotted #000;
}
.igtab_CaribbeanLVCenterAct
{
}
.igtab_CaribbeanLVTailAct
{
}
.igtab_CaribbeanLVTabAct
{
}
.igtab_CaribbeanLVTextDis
{
}
.igtab_CaribbeanLVCenterDis
{
	background-image:url(./images/igtab_LVCenterDis.gif);
	background-color:#cccccc;
}
.igtab_CaribbeanLVTailDis
{
	background-image:url(./images/igtab_LVBotDis.gif);
}
.igtab_CaribbeanLVTabDis
{
	background-image:url(./images/igtab_LVTopDis.gif);
}
.igtab_CaribbeanLVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_CaribbeanLVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_CaribbeanLVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanLVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanLVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanLVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}



.igtab_CaribbeanRVControl
{
	overflow:hidden;
	position:relative;
}
.igtab_CaribbeanRVContentHolder
{
	background:#FFFFFF;
	border-right:1px solid #011161;
	border-bottom:1px solid #011161;
	border-top:1px solid #011161;
	height:99%;
	margin-left:-24px;
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:9;
}
.igtab_CaribbeanRVContentHolderInner
{
	border-left:1px solid #011161;
	height:100%;
	margin-left:24px;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_CaribbeanRVContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_CaribbeanRVHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:100%;
	top:0px;
	height:100%;
	width:24px;
	margin-left:-24px;
}
.igtab_CaribbeanRVHolderScroll
{
	top:-47px;
}
.igtab_CaribbeanRVHolderScrollInner
{
	top:47px;
}
.igtab_CaribbeanRVRoundedForHolder
{
	top:-6px;
}
.igtab_CaribbeanRVRoundedForHolderInner
{
	top:12px;
}
.igtab_CaribbeanRVRoundedForHolderScroll
{
	top:-53px;
}
.igtab_CaribbeanRVRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_CaribbeanRVScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;	
	z-index:20000;
	left:100%;
	margin-top:-47px;
	margin-left:-22px;
}
.igtab_CaribbeanRVRoundedForScroll
{
	margin-top:-53px;
}
.igtab_CaribbeanRVScrollButton
{
	display:block;
	margin-top:2px;
}
.igtab_CaribbeanRVClose
{
	position:absolute;
	margin-top:-15px;
	margin-left:4px;
	cursor:pointer;
}
.igtab_CaribbeanRVCloseSize
{
	padding-bottom:14px;
}
.igtab_CaribbeanRVImage
{
	vertical-align:middle;
	position:relative;
	display:block;
}
.igtab_CaribbeanRVText
{
	vertical-align:middle;
	line-height:14px;
	font-family:Verdana;
	font-size:11px;
	display:block;
	padding-left:5px;
	width:13px;
	position:relative;
	
	cursor:default;
}
.igtab_CaribbeanRVCenter
{
	display:block;
	position:relative;
	overflow:hidden;
	background:url(./images/igtab_RVCenter.gif) repeat-y top right;
	background-color:#d1ebf5;
	padding-left:1px;
}
.igtab_CaribbeanRVTail
{
	display:block;
	background:url(./images/igtab_RVBot.gif) bottom right;
	padding-top:3px;
}
.igtab_CaribbeanRVTab
{
	background:url(./images/igtab_RVTop.gif) no-repeat top right;
	display:block;
	overflow:hidden;
	position:relative;
	padding-top:3px;
	border-left:1px solid #011161;
}
.igtab_CaribbeanRVOverlap
{
	margin-top:-5px;
}
.igtab_CaribbeanRVTextHov
{
}
.igtab_CaribbeanRVCenterHov
{
	background-image:url(./images/igtab_RVCenterHov.gif);
	background-color:#193e7d;
}
.igtab_CaribbeanRVTailHov
{
	background-image:url(./images/igtab_RVBotHov.gif);
}
.igtab_CaribbeanRVTabHov
{
	background-image:url(./images/igtab_RVTopHov.gif);
	color:#ffffff;
}
.igtab_CaribbeanRVTextSel
{
}
.igtab_CaribbeanRVCenterSel
{
	background-image:url(./images/igtab_RVCenterSel.gif);
	background-color:#2255ab;
}
.igtab_CaribbeanRVTailSel
{
	background-image:url(./images/igtab_RVBotSel.gif);
	border-left-color:#2255ab;
}
.igtab_CaribbeanRVTabSel
{
	background-image:url(./images/igtab_RVTopSel.gif);
	border-left-color:#94c8eb;
}
.igtab_CaribbeanRVTextAct
{
	border:1px dotted #000;
}
.igtab_CaribbeanRVCenterAct
{
}
.igtab_CaribbeanRVTailAct
{
}
.igtab_CaribbeanRVTabAct
{
}
.igtab_CaribbeanRVTextDis
{
}
.igtab_CaribbeanRVCenterDis
{
	background-image:url(./images/igtab_RVCenterDis.gif);
	background-color:#cccccc;
}
.igtab_CaribbeanRVTailDis
{
	background-image:url(./images/igtab_RVBotDis.gif);
}
.igtab_CaribbeanRVTabDis
{
	background-image:url(./images/igtab_RVTopDis.gif);
}
.igtab_CaribbeanRVTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_CaribbeanRVTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_CaribbeanRVRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanRVRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanRVRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanRVRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}







.igtab_CaribbeanLHControl
{
	overflow:hidden;
	position:relative;
}
.igtab_CaribbeanLHContentHolder
{
	background:#FFFFFF;
	border:1px solid #011161;
	height:99%;
	left:-1px;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_CaribbeanLHContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_CaribbeanLHHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:0px;
	top:0px;
	height:100%;
}
.igtab_CaribbeanLHHolderScroll
{
	top:-47px;
}
.igtab_CaribbeanLHHolderScrollInner
{
	top:47px;
}
.igtab_CaribbeanLHRoundedForHolder
{
	top:-6px;
}
.igtab_CaribbeanLHRoundedForHolderInner
{
	top:12px;
}
.igtab_CaribbeanLHRoundedForHolderScroll
{
	top:-53px;
}
.igtab_CaribbeanLHRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_CaribbeanLHScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;
	margin-top:-47px;
	margin-left:-21px;
	z-index:20000;
}
.igtab_CaribbeanLHRoundedForScroll
{
	margin-top:-53px;
}
.igtab_CaribbeanLHScrollButton
{
	display:block;
	margin-top:2px;
}
.igtab_CaribbeanLHClose
{
	position:absolute;
	left:100%;
	top:12px;
	margin-left:-17px;
	cursor:pointer;
}
.igtab_CaribbeanLHCloseSize
{
	padding-right:10px;
}
.igtab_CaribbeanLHImage
{
	vertical-align:middle;
	position:relative;
	margin-top:2px;
}
.igtab_CaribbeanLHText
{
	vertical-align:middle;	
	line-height:24px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	position:relative;
	cursor:default;
}
.igtab_CaribbeanLHCenter
{
	display:block;
	background:url(./images/igtab_LHTop.gif) repeat-x;
	background-color:#d1ebf5;
	font:1px verdana;
	line-height:1px;
	height:100%;
}
.igtab_CaribbeanLHTail
{
	display:block;
	background:url(./images/igtab_LHTopLeft.gif) no-repeat;
	padding-left:10px;
	white-space:nowrap;
	border-right:1px solid #011161;
	height:24px;
}
.igtab_CaribbeanLHMirror
{
	display:block;
	padding-left:10px;
	background:url(./images/igtab_LHBotLeft.gif) bottom left no-repeat;
	border-right:1px solid #011161;
	height:3px;
}
.igtab_CaribbeanLHMirrorCenter
{
	display:block;
	background:url(./images/igtab_LHBot.gif) bottom left repeat-x;
	font:1px verdana;
	line-height:1px;
	height:100%;
}
.igtab_CaribbeanLHTab
{
	display:block;
	overflow:hidden;
	position:relative;
}
.igtab_CaribbeanLHOverlap
{
	margin-top:-5px;
}
.igtab_CaribbeanLHTextHov
{
}
.igtab_CaribbeanLHCenterHov
{
	background-image:url(./images/igtab_LHTopHov.gif);
	background-color:#193e7d;
	color:#ffffff;
}
.igtab_CaribbeanLHTailHov
{
	background-image:url(./images/igtab_LHTopLeftHov.gif);
}
.igtab_CaribbeanLHMirrorHov
{
	background-image:url(./images/igtab_LHBotLeftHov.gif);
}
.igtab_CaribbeanLHMirrorCenterHov
{
	background-image:url(./images/igtab_LHBotHov.gif);
}
.igtab_CaribbeanLHTabHov
{
}
.igtab_CaribbeanLHTextSel
{
}
.igtab_CaribbeanLHCenterSel
{
	background-image:url(./images/igtab_LHTopSel.gif);
	background-color:#2255ab;
}
.igtab_CaribbeanLHTailSel
{
	background-image:url(./images/igtab_LHTopLeftSel.gif);
	border-right-color:#2255ab;
}
.igtab_CaribbeanLHMirrorSel
{
	background-image:url(./images/igtab_LHBotLeftSel.gif);
	border-right-color:#2255ab;
}
.igtab_CaribbeanLHMirrorCenterSel
{
	background-image:url(./images/igtab_LHBotSel.gif);
}
.igtab_CaribbeanLHTabSel
{
}
.igtab_CaribbeanLHTextAct
{
	border:1px dotted blue;
}
.igtab_CaribbeanLHCenterAct
{
}
.igtab_CaribbeanLHTailAct
{
}
.igtab_CaribbeanLHMirrorAct
{
}
.igtab_CaribbeanLHMirrorCenterAct
{
}
.igtab_CaribbeanLHTabAct
{
}
.igtab_CaribbeanLHTextDis
{
}
.igtab_CaribbeanLHCenterDis
{
	background-image:url(./images/igtab_LHTopDis.gif);
	background-color:#cccccc;
}
.igtab_CaribbeanLHTailDis
{
	background-image:url(./images/igtab_LHTopLeftDis.gif);
}
.igtab_CaribbeanLHMirrorDis
{
	background-image:url(./images/igtab_LHBotLeftDis.gif);
}
.igtab_CaribbeanLHMirrorCenterDis
{
	background-image:url(./images/igtab_LHBotDis.gif);
}
.igtab_CaribbeanLHTabDis
{
}
.igtab_CaribbeanLHTabMoving
{
	filter:alpha(opacity:30);
	opacity:0.3;
}
.igtab_CaribbeanLHTabMovingMarkUp
{
	filter:alpha(opacity:70);
	opacity:0.7;
}
.igtab_CaribbeanLHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanLHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanLHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanLHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}







.igtab_CaribbeanRHControl
{
	overflow:hidden;
	position:relative;
}
.igtab_CaribbeanRHContentHolder
{
	background:#FFFFFF;
	border-right:1px solid #011161;
	border-bottom:1px solid #011161;
	border-top:1px solid #011161;
	height:99%;
	position:relative;
	overflow:hidden;
	width:100%;
	z-index:9;
}
.igtab_CaribbeanRHContentHolderInner
{
	border-left:1px solid #011161;
	height:100%;
	position:relative;
	overflow:hidden;
	z-index:9;
}
.igtab_CaribbeanRHContent
{
	height:100%;
	position:relative;
	background-color:#FFFFFF;
}
.igtab_CaribbeanRHHolder
{
	overflow:hidden;
	position:absolute;
	z-index:999;
	left:100%;
	top:0px;
	height:100%;
}
.igtab_CaribbeanRHHolderScroll
{
	top:-47px;
}
.igtab_CaribbeanRHHolderScrollInner
{
	top:47px;
}
.igtab_CaribbeanRHRoundedForHolder
{
	top:-6px;
}
.igtab_CaribbeanRHRoundedForHolderInner
{
	top:12px;
}
.igtab_CaribbeanRHRoundedForHolderScroll
{
	top:-53px;
}
.igtab_CaribbeanRHRoundedForHolderScrollInner
{
	top:59px;
}
.igtab_CaribbeanRHScrollButtons
{
	font-size:1px;
	position:absolute;
	top:100%;
	margin-top:-47px;
	z-index:20000;
	left:100%;
}
.igtab_CaribbeanRHRoundedForScroll
{
	margin-top:-53px;
}
.igtab_CaribbeanRHScrollButton
{
	display:block;
	margin-top:2px;
	margin-left:3px;
}
.igtab_CaribbeanRHClose
{
	position:absolute;
	top:12px;
	margin-left:3px;
	cursor:pointer;
}
.igtab_CaribbeanRHCloseSize
{
	padding-left:10px;
}
.igtab_CaribbeanRHImage
{
	vertical-align:middle;
	position:relative;
	margin-top:2px;
}
.igtab_CaribbeanRHText
{
	vertical-align:middle;
	line-height:24px;
	font-family:Verdana;
	font-size:11px;
	white-space:nowrap;
	position:relative;
	cursor:default;
}
.igtab_CaribbeanRHCenter
{
	display:block;
	background:url(./images/igtab_RHTop.gif) repeat-x;
	background-color:#d1ebf5;
	line-height:20px;
	font:22px sans-serif;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
}
.igtab_CaribbeanRHTail
{
	display:block;
	padding-right:10px;
	background:url(./images/igtab_RHTopRight.gif) top right no-repeat;
	white-space:nowrap;
	border-left:1px solid #011161;
	height:24px;
}
.igtab_CaribbeanRHMirror
{
	display:block;
	padding-right:10px;
	background:url(./images/igtab_RHBotRight.gif) bottom right no-repeat;
	border-left:1px solid #011161;
	height:3px;
}
.igtab_CaribbeanRHMirrorCenter
{
	display:block;
	background:url(./images/igtab_RHBot.gif) bottom left repeat-x;
	font:1px verdana;
	line-height:1px;
	height:100%;
}
.igtab_CaribbeanRHTab
{
	display:block;
	overflow:hidden;
	position:relative;
}
.igtab_CaribbeanRHOverlap
{
	margin-top:-5px;
}
.igtab_CaribbeanRHTextHov
{
}
.igtab_CaribbeanRHCenterHov
{
	background-image:url(./images/igtab_RHTopHov.gif);
	background-color:#193e7d;
	color:#ffffff;
}
.igtab_CaribbeanRHTailHov
{
	background-image:url(./images/igtab_RHTopRightHov.gif);
}
.igtab_CaribbeanRHMirrorHov
{
	background-image:url(./images/igtab_RHBotRightHov.gif);
}
.igtab_CaribbeanRHMirrorCenterHov
{
	background-image:url(./images/igtab_RHBotHov.gif);
}
.igtab_CaribbeanRHTabHov
{
}
.igtab_CaribbeanRHTextSel
{
}
.igtab_CaribbeanRHCenterSel
{
	background-image:url(./images/igtab_RHTopSel.gif);
	background-color:#2255ab;
}
.igtab_CaribbeanRHTailSel
{
	background-image:url(./images/igtab_RHTopRightSel.gif);
	border-left-color:#2255ab;
}
.igtab_CaribbeanRHMirrorSel
{
	background-image:url(./images/igtab_RHBotRightSel.gif);
	border-left-color:#2255ab;
}
.igtab_CaribbeanRHMirrorCenterSel
{
	background-image:url(./images/igtab_RHBotSel.gif);
}
.igtab_CaribbeanRHTabSel
{
}
.igtab_CaribbeanRHTextAct
{
	border:1px dotted blue;
}
.igtab_CaribbeanRHCenterAct
{
}
.igtab_CaribbeanRHTailAct
{
}
.igtab_CaribbeanRHMirrorAct
{
}
.igtab_CaribbeanRHMirrorCenterAct
{
}
.igtab_CaribbeanRHTabAct
{
}
.igtab_CaribbeanRHTextDis
{
}
.igtab_CaribbeanRHCenterDis
{
	background-image:url(./images/igtab_RHTopDis.gif);
	background-color:#cccccc;
}
.igtab_CaribbeanRHTailDis
{
	background-image:url(./images/igtab_RHTopRightDis.gif);
}
.igtab_CaribbeanRHMirrorDis
{
	background-image:url(./images/igtab_RHBotRightDis.gif);
}
.igtab_CaribbeanRHMirrorCenterDis
{
	background-image:url(./images/igtab_RHBotDis.gif);
}
.igtab_CaribbeanRHTabDis
{
}
.igtab_CaribbeanRHRoundedCorners
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundCorners.gif);
	background-repeat:no-repeat;
}
.igtab_CaribbeanRHRoundedTopBottom
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundTopBot.gif);
	background-repeat:repeat-x;
}
.igtab_CaribbeanRHRoundedLeftRight
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundLeftRight.gif);
	background-repeat:repeat-y;
}
.igtab_CaribbeanRHRoundedFill
{
	position:absolute;
	display:block;
	background-image:url(./images/igtab_TRoundFill.gif);
}
