<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="worldEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=A@141516182235;persistsecurityinfo=True;database=crudmysql;port=3306&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>