
@import "default.css";


/* -- Base style extension -- */

ul.dropdown li a {
 display: block;
 padding: 7px 14px;
}


/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown li.dir {
 padding: 7px 20px 7px 14px;
}

ul.dropdown ul li.dir {
 padding-right: 15px;
}


/* -- Custom -- */

ul.dropdown ul a {
 padding: 4px 5px 4px 14px;
 width: 151px; /* Especially for IE */
}

ul.dropdown ul a:hover {
    background-color: #00bfff; /*#76b900;*/
}


/* -- Drop-down open -- */

ul.dropdown li:hover > a.dir {
 background-color: #CCC;
 color:  #00bfff;/* #76b900;*/
}

ul.dropdown ul li:hover > a.dir {
 background-color:  #00bfff;/* #76b900; */
 color: #fff;
}