
div.CenterDivBar {
    width: 90%;
    display: table;
    margin: 0 auto;
    position: relative;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
    /*font-size: 12px;
    height: 25px;*/
}
input.TextboxWidth {
    max-width: 350px;
    font-size: 12px;
    height: 25px;
}

label {
    vertical-align: central;
    font-size: 14px;
}
