
div.CenterDivBar {
    width: 90%;
    display: table;
    margin: 0 auto;
    position: relative;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
    /*font-size: 12px;
    height: 25px;*/
}
input.TextboxWidth {
    max-width: 350px;
    font-size: 12px;
    height: 25px;
}

label {
    vertical-align: central;
    font-size: 14px;
}

#logo { 
   float: left; 
   width: 10.5em; 
   background: #CCCCCC; 
   padding: 0.5em 0.5em 0.5em 1em;
   margin: 0;        
}
.primaryStaticMenu
{
   background-color: transparent;
   float: right;
}
.primaryStaticMenuItem
{
   width: 10em;
   background-color: #ffffff; 
   border-width: 1px;
   border-color: #efefef #aaab9c #ccc #efefef; 
   border-style: solid;
   color: #777777;
   padding: 0.5em 0 0.5em 1em;
}
.primaryStaticHover
{
   color: #999999;
   background: #ffffff;
}

.primaryDynamicMenu
{   
   background-color: #ffffff;               
   border-bottom: solid 1px #ccc;    
}  
.primaryDynamicMenuItem
{
   width: 10em;
   background-color: #f7f2ea; 
   color: #999999;
   padding: 0.5em 0 0.5em 1em;
   border-width: 1px;
   border-color: #111111 #111111 #111111 #111111;  
   border-style: solid;         
}    
.primaryDynamicHover
{
   color: #999999;
   background: #ffffff;
}            

.secondaryLevelOne
{
   background-color: transparent;
   background-repeat: repeat-x;
   margin: 1.5em 0 0 0;
   padding: 5px 0 0 5px;
   width: 12em; 
   height: 35px;
}
.secondaryLevelTwo
{
   background: #999999;
   padding: 5px 0 5px 5px;         
}
.secondaryStaticHover
{
   color: #999999;
}

.navbar {
    height: 20px;
}
.navbar-header {
    height: 20px;
}
.navbar-inverse {
    height: 20px;
}