<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <!--<add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PAEM_DEV;user id=SA;password=HUMBERT.2503;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="PAEEEM_DESAEntidades" connectionString="metadata=res://*/PAEEEMDBModel.csdl|res://*/PAEEEMDBModel.ssdl|res://*/PAEEEMDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.55.210.99;initial catalog=PAEEEM_DESA;user id=netropology;password=N3tr0p0l0gy;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
 </connectionStrings>
</configuration>
