<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">


 <configSections>
  <section name="infragistics.web"
      type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0,
      Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
</configSections>

	<connectionStrings>
		<add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=eClock"/>
	</connectionStrings>
	<system.web>
		<compilation defaultLanguage="c#" debug="true" batch="false">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics2.WebUI.Shared.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics2.WebUI.WebNavBar.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics2.WebUI.UltraWebToolbar.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics2.WebUI.UltraWebNavigator.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics2.WebUI.WebDataInput.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="Infragistics2.WebUI.WebCombo.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="Infragistics2.WebUI.Misc.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.WebDateChooser.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGauge.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
				<add assembly="Infragistics2.WebUI.UltraWebChart.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebListbar.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebTab.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.WebUI.UltraWebGrid.ExcelExport.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics2.Excel.v7.1, Version=7.1.20071.40, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/></assemblies>
		</compilation>
		<customErrors mode="RemoteOnly"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" uiCulture="es-MX"/>
		<xhtmlConformance mode="Legacy"/>
		<trust level="Full"/>
	</system.web>
	<appSettings>
		<add key="gBDatos.ConnectionString" value="Provider=SQLOLEDB;Data Source=localhost\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=eClock"/>
		<add key="eClock.maquina21.WS_ServicioRDatos" value="~/WS_ServicioRDatos.asmx"/>
	</appSettings>
<infragistics.web imageDirectory="images/" javaScriptDirectory="scripts/"/>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
