<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISPersonas" />
        <binding name="BasicHttpBinding_ISUsuarios" />
        <binding name="BasicHttpBinding_IS_GestionCatalogos1" />
        <binding name="BasicHttpBinding_IS_Login1" />
        <binding name="BasicHttpBinding_IMenusSistemaS1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5099/GestionCatalogos/S_GestionCatalogos.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IS_GestionCatalogos1"
        contract="SvcGestionCatalogos.IS_GestionCatalogos" name="BasicHttpBinding_IS_GestionCatalogos1" />
      <endpoint address="http://localhost:5099/Login_S/S_Login.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IS_Login1"
        contract="SvcLogin.IS_Login" name="BasicHttpBinding_IS_Login1" />
      <endpoint address="http://localhost:5099/MenuSistema/MenusSistemaS.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenusSistemaS1"
        contract="SvcMenuSistema.IMenusSistemaS" name="BasicHttpBinding_IMenusSistemaS1" />
      <endpoint address="http://localhost:5099/Usuarios/SUsuarios.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISUsuarios"
        contract="SvcUsuarios.ISUsuarios" name="BasicHttpBinding_ISUsuarios" />
      <endpoint address="http://localhost:5099/Personas/SPersonas.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISPersonas"
        contract="SvcPersonas.ISPersonas" name="BasicHttpBinding_ISPersonas" />
    </client>
  </system.serviceModel>
</configuration>